{% extends 'ingest/base.html' %}
{% load url from future %}
{% load staticfiles %}

{% block css-content %}<link rel="stylesheet" href="{% static "ingest/css/forms.css" %}">{% endblock %}

{% block header %}NEOx home{% endblock %}

{% block bodyclass %}page{% endblock %}
{% block extramenucss %}extramenu-home{% endblock %}

{% block extramenu %}
{% endblock%}

{% block main-content %}
		<div class="masthead">
			<div class="container">
				<div class="btn btn-transparent btn-jumbo home-form">
					    <form action="{% url 'ephemeris' %}" method="GET" style="display:inline-block;">
					        <input type="text" name="{{ form.target.name }}" id="id_target" value="" placeholder="{{ form.target.label }}">

				            <div class="inline-fields">
					            <label for="id_utc_date">UTC date</label>{{ form.utc_date }}
					            {{ form.site_code }}
				            </div>
				            <div class="inline-fields">
					            <label for="id_alt_limit">Alt Limit (optional)</label>{{ form.alt_limit }}
					            <input type="submit" class="button keepvisible" value="Compute">
				            </div>
				        {% for key, error in form.errors.items %}
				            <div class="messages error">
				                {{ error }}
				            </div>
				        {% endfor %}
				        </form>				        
				</div>
				<a class="btn btn-transparent btn-jumbo" href="{% url 'targetlist' %}">
					<div class="bigtext">{{targets}}</div>
					<div class="smalltext">active targets</div>
				</a>
				<a class="btn btn-transparent btn-jumbo" href="{% url 'blocklist' %}">
					<div class="bigtext">{{blocks}}</div>
					<div class="smalltext">active blocks</div>
				</a>
			</div>
		</div>

    <div class="container">
        <div class="bigtext">
            <table id="id_neo_targets" class="datatable">
                <thead>
                    <tr>
                        <th class="list_title">
                            <span class="sortable" id="name_id">Target Name</span>
                        </th>
                        <th class="list_project">
                            <span class="sortable" id="type_id">Type</span>
                        </th>
                        <th>
                            <span class="sortable" id="origin">Origin</span>
                        </th>
                        <th>
                            <span class="sortable" id="timestamp">Ingested</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="{% cycle 'odd' 'even' %}">
                        <td>N999r0q</td>
                        <td>Unknown/NEO Candidate</td>
                        <td>MPC</td>
                        <td>April 8, 2015, 9:23 p.m.</td>
                    </tr>
                    <tr class="{% cycle 'odd' 'even' %}">
                        <td>P10kfud</td>
                        <td>Unknown/NEO Candidate</td>
                        <td>MPC</td>
                        <td>April 8, 2015, 8:57 p.m.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
