.svn
.git
*/Diffs
*/neox.log
*/geckodriver.log
*/.coveragerc
*/htmlcov
*/comet
*/*.db
*.pyc
*.pyo
*.fits
*.dat
*.fz
neoexchange/photometrics/tests/*
neoexchange/lightcurve.png
neoexchange/lightcurve_data.txt
neoexchange/mpc_positions.txt
