# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Spyder IDE files
.spyderproject
.spyderworkspace

# PyCharm files
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/

# VisualStudio files
.vs/
*~

neox/local_settings.py
Diffs
data/

neox.db
neox.log
geckodriver.log
*.sql
*.json.gz

spectra.png
lightcurve*.png
lightcurve_data.txt
phased_lc.png
phasecurve*png
*uncertainty_*.png
*timeup_*.png
*radec_*.png
*mag_*.png
*dist_*.png
ALCDEF*.txt
mpc_positions.txt
*.json
environ.dat

ingest/static/ingest/css/admin.css
ingest/static/ingest/css/dashboard.css
neoexchange/neox/local_settings.py
*.db
docker-compose.yml
core/fixtures/
neoexchange/DART_stuff_*.py

# GPS satellite related files
*.clk
*rinex*
*rapid
gps_*
*sp3*

# Mac OS
.DS_Store
