{% extends 'base.html' %}
{% load staticfiles %}
{% load staticfiles basic_tags %}

{% block bodyclass %}page lightmonitor{%endblock%}

{%block header %}Light Monitor for block {{object.id}} ({{object.body.current_name}}){%endblock%}

{% block script-content %}
<script type="text/javascript" src="{% static "analyser/js/astrometry.js" %}"></script>
<script type="text/javascript" src="{% static "analyser/js/raphael.js" %}"></script>
<script type="text/javascript" src="{% static "analyser/js/g.raphael.js" %}"></script>
<script type="text/javascript" src="{% static "analyser/js/g.line.js" %}"></script>
<script type="text/javascript" src="{% static "analyser/js/raphael.sizer.js" %}"></script>
<script type="text/javascript" src="{% static "analyser/js/lightmonitor.js" %}"></script>

<script>
var blinker;
var zoomcal;
var frames = {{images|safe}};
var candidates = {{candidates|safe}};
var img_stack= Array();
var candids = Array();
var accepted = Array();
var rejected = Array();
var data_url = 'https://thumbnails.lco.global/';
var x_size = 1000;
var y_size = 1000;
var img_params = '?width='+x_size+'&height='+y_size+'&median=true&percentile=98';
var analysed = {% if analysed %}true{% else %}false{% endif %};
var archive_token = "{{archive_token}}";
var blockcandidate;
var photo;
var img_scale = {x: {{xaxis}}/x_size, y:{{yaxis}}/y_size};
var current_candid;


$(document).ajaxStop(function() {
  // Load all thumbnails once the ajax call to get their URLs has completed
  setupImages();
});

	$(document).ready(function(){
		setUp();
    for(i=0; i<frames.length; i++){
      frames[i] = get_images(frames[i], options=img_params)
    }

		$('#blink-stop').click(function(){
			resetCandidateOptions();
		})

		$('#blink-start').click(function(){
			startBlink(0,true);
			$('#candidate-list').hide();
		})

		$('#cand-accept').click(function(){
			acceptCandidate(current_candid);
			resetCandidateOptions();
		})

		$('#cand-reject').click(function(){
			rejectCandidate(current_candid);
			resetCandidateOptions();
		})

{% if not object.reported %}
		$('#cand-submit').click(function(){
			$.post('{% url 'submit-candidates' object.id %}', { 'objects': accepted,'blockcandidate':blockcandidate })
			.done(function() {
					window.location.replace('{% url 'block-report' object.id %}');
				})
			.fail(function() {
				alert( "error" );
			});
		});
{% endif %}


  $('#blink-stop').click(function(){
    stopBlink();
  })

  $('#blink-start').click(function(){
    startBlink();
    $('#candidate-list').hide();
  })

  $('.candidate-select').click(function(){
      current_candid = $(this).data('cand_id');
      zoomcal = $(this).data('zoomcalid');
      window.clearTimeout(blinker);
      var checkBox = document.getElementById("blink-check");
      checkBox.checked = true;
      startBlink();
      $('#candidate-list').hide();
      $('.candidate-accept').show();
  })

});


</script>
{% endblock %}

{% block upper-menu%}

{%endblock%}

{% block extramenu %}
		<div class="headingleft">
				<h1>Analyser for block: <a href="{% url 'block-view' object.id  %}" class="objectspecific">#{{object.id}}</a></h1>
		</div>
{% endblock%}

{% block main-content %}
<!-- Main body -->
<div class="container u-full-width" id="main">
				<div class="row">
					{% if images %}
						<div class="eight columns">
								{% if object.reported %}
								<div class="blue">
									Block already reported to MPC
								</div>
								{% endif %}

								<div id="middle">
                  <div id="astrometric">
                    <div id="astrometric_imageholder_small"><img src="" style="width:100%" alt="Image from telescope" id="analyser_image" /></div>
                  </div>
									<div id="wrapper">
										<div class="button-holder">
										</div>
									</div>
								</div>
				</div>

				<div class="four columns">
							<div class="button-holder" id="number_images_holder" style="display:none;">
								<p>Image <span id="current_image_index"></span> of <span id="number_images"></span></p>
                Reset Zoom <button id="zoom-img-btn" onclick="resetZoomLevel();"><i class="fa fa-rotate-left fa-2x" aria-hidden="true"></i></button>
                <form>
                  <span class='block-status-item'>Blink </span>
                  <!-- Rounded switch -->
                  <span class='block-status-item'>
                  <label class="switch">
                    <input type="checkbox" onclick="changeBlink()" id="blink-check">
                    <span class="slider round"></span>
                  </label>
                </span>
                </form>
								<ul class="candidate-controls">
									<li style="display:none;" id="block-candidate">
										<span class='block-status-item'>{{object.body.current_name}} is </span>
										<span class='block-status-item'>
											<select>
											<option>Not selected</option>
											</select>
										</span>
									</li>

									{% if not object.reported %}
									<li class='blue' id="cand-submit">
										<span class="candidate">
											<span class="block-status-item" ><i class="fa fa-cloud-upload" aria-hidden="true"></i></span>
											<span class='block-status-item'>Submit Candidates</span>
										</span>
									</li>
									{% endif %}
								</ul>
								<ul id="candidate-list" class="candidate-controls">
                  {% for c in candidates %}
                  <li class='grey-dark'>
                  <span class='candidate'>
                  <span data-cand_id='{{c.id}}' class='candidate-select' data-zoomcalid="{{forloop.revcounter0}}">
                  <span class='block-status-item' ><i class='fa fa-refresh'></i></span>
                  <span class='block-status-item' class='zoom-cal'>Blink Candidate {{forloop.counter}}</span></span>
                  <span class='block-status-item block-status-icon text-red' id='cand-{{c.id}}-reject' style='display:none;'><i class='fa fa-ban'></i></span>
                  <span class='block-status-item block-status-icon text-green' id='cand-{{c.id}}-accept' style='display:none;'><i class='fa fa-check'></i></span>
                  </span>
                  </li>
                  {% endfor %}
								</ul>
								<ul class="candidate-controls candidate-accept" style="display:none;">
									<li class='green'>
										<span class="block-status-item" ><i class="fa fa-check"></i></span>
										<span class='block-status-item' id="cand-accept" data-cand_id="">Accept</span>
									</li>
									<li class='red'>
										<span class="block-status-item" ><i class="fa fa-times"></i></span>
										<span class='block-status-item' id="cand-reject" data-cand_id="">Reject</span>
									</li>
								</ul>
							</div>
				</div>
				{% else %}
				<h3 class="section-title">Looking for {{object.body.current_name}}</h3>
				<p>There are currently no images or candidates available to measure.</p>
				{% endif %}
			</div>
		</div>
{% endblock %}

{% block content %}
<div class="container">
	{% for c in candidates %}
	<div class="row candidate-row candidate-{{forloop.counter0}}"  style="display:none;">
		<div class="eight columns">
		<table class="keyvalue-table-minimal">
			<tbody>
				<tr>
					<td class="kv-key">Position Angle</td>
					<td class="kv-value">{{c.motion.pos_angle|floatformat:"1"}}</td>
					<td class="kv-key">Speed</td>
					<td class="kv-value">{{c.motion.speed|floatformat:"2"}} "/min</td>
					<td class="kv-key">Speed (raw)</td>
					<td class="kv-value">{{c.motion.speed_raw|floatformat:"2"}} deg/day</td>
				</tr>
			</tbody>
			</table>
		</div>
	</div>

	<div class="row candidate-row candidate-{{forloop.counter0}}">
		<div class="four columns">
	{% for sc in c.sky_coords %}
	<table class="keyvalue-table coords-table" id="img-skycoords-{{forloop.counter0}}" style="display:none;">
		<tbody>
			<tr>
				<td class="kv-key">RA</td>
				<td class="kv-value">{{sc.ra|degreestohms:" "}}</td>
			</tr>
			<tr>
				<td class="kv-key">Dec</td>
				<td class="kv-value">{{sc.dec|degreestodms:" "}}</td>
			</tr>
			<tr>
				<td class="kv-key">Mag</td>
				<td class="kv-value">{{sc.mag|floatformat:"2"}}</td>
			</tr>
		</tbody>
	</table>
	{% endfor %}
</div>
	<div class="four columns">
	{% for cc in c.coords %}
	<table class="keyvalue-table coords-table"  id="img-coords-{{forloop.counter0}}" style="display:none;">
		<tbody>
			<tr>
				<td class="kv-key">X</td>
				<td class="kv-value">{{cc.x|floatformat:"2"}}</td>
			</tr>
			<tr>
				<td class="kv-key">Y</td>
				<td class="kv-value">{{cc.y|floatformat:"2"}}</td>
			</tr>
			<tr>
				<td class="kv-key">Time</td>
				<td class="kv-value">{{cc.time}}</td>
			</tr>
		</tbody>
	</table>
	{% endfor %}
	</div>
</div>
{% endfor %}
</div>

{% endblock %}
