{% extends 'base.html' %}
{% load staticfiles %}

{% block bodyclass %}page lightmonitor{%endblock%}

{%block header %}Light Monitor for block {{object.id}}{%endblock%}

{% block script-content %}
<script src="https://code.createjs.com/createjs-2015.11.26.min.js"  type="text/javascript" ></script>
<script src="{% static "core/js/astrometer.js" %}"  type="text/javascript" ></script>
<script>
	var stage;
	var ministage;
	var index = 0;
	var point_size = 10;
	var blinker;
	var img_holder;
	var mini_img;
	var frames = {{images|safe}}
	var image_scale = {{xaxis|default:"1024"}}/600
	var accepted = Array();
	var data_url = 'https://thumbnails.lcogt.net/'
	var img_params = '?width=1000&height=1000'

	$(document).ready(function(){

		setUp();
		loadThumbnails(frames);

		$('.candidate-select').click(function(){
			var ind = $(this).data('frameid');
			stopBlink();
		  startBlink(ind, false);
			$('#candidate-list').hide();
			$('.candidate-accept').show();

			$("#cand-accept").data('frameid', ind);
			$("#cand-reject").data('frameid', ind);
		});

		$('#blink-stop').click(function(){
			resetCandidateOptions();
		})

		$('#blink-start').click(function(){
			startBlink(0,true);
			$('#candidate-list').hide();
		})

		$('#cand-accept').click(function(){
			var cand_id = $(this).data('frameid');
			acceptCandidate(cand_id);
			resetCandidateOptions();
		})

		$('#cand-reject').click(function(){
			var cand_id = $(this).data('frameid');
			rejectCandidate(cand_id);
			resetCandidateOptions();
		})

	});

</script>
{% endblock %}

{% block upper-menu%}

{%endblock%}

{% block extramenu %}
    <div class="headingleft">
        <h1>Light Monitor for block: <a href="{% url 'block-view' object.id  %}" class="objectspecific">#{{object.id}}</a></h1>
    </div>
{% endblock%}

{% block main-content %}
<!-- Main body -->
<div class="container" id="main">
        <div class="row">
					{% if images %}
            <div class="eight columns">
                <h3 class="section-title">Looking for {{object.body.current_name}}</h3>
{% if messages %}					<div id="message">
						<ul class="messages">
{% for message in messages %}{%ifchanged%}<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>{%endifchanged%}{% endfor %}
						</ul>
					</div>{% endif %}

					<div id="middle">
						<div id="image-loading">
							<i class="fa fa-refresh fa-spin fa-fw fa-4x"></i>
							<p>Loading Image...</p>
						</div>
						<div id="wrapper">
							<canvas id="imgCanvas" width="600" height="600" src=""><p>Image has failed to load.</p></canvas>
						</div>
					</div>
				</div>

        <div class="four columns">
					<h3 class="section-title">Zoom Region</h3>
					<canvas id="zoomCanvas" width="200" height="200"><p>Image has failed to load.</p></canvas>

          <h3 class="section-title">Controls</h3>
							<div class="button-holder">
								<button id="prev-img-btn" onclick="prevImage();"><i class="fa fa-arrow-circle-left fa-2x" aria-hidden="true"></i></button>
								<span id="current_image_index"></span> of <span id="number_images"></span>
								<button id="next-img-btn" onclick="nextImage();"><i class="fa fa-arrow-circle-right fa-2x" aria-hidden="true"></i></button>
							</div>
							<div class="button-holder">
								<ul class="candidate-controls">
									<li class='grey-dark blink-all-candidates'>
										<span class='candidate' id="blink-start">
											<span class="block-status-item"><i class="fa fa-refresh"></i></span>
											<span class='block-status-item'>Blink all Candidates</span>
										</span>
										<span class='candidate' id="blink-stop">
											<span class="block-status-item"><i class="fa fa-stop-circle" aria-hidden="true"></i></span>
											<span class='block-status-item'>Stop Blinking</span>
										</span>
									</li>
								</ul>
								<ul id="candidate-list" class="candidate-controls">
								</ul>
								<ul class="candidate-controls candidate-accept" style="display:none;">
									<li class='green'>
										<span class="block-status-item" ><i class="fa fa-check"></i></span>
										<span class='block-status-item' id="cand-accept" data-frameid="">Accept</span>
								</li>
								<li class='red'>
									<span class="block-status-item" ><i class="fa fa-times"></i></span>
									<span class='block-status-item' id="cand-reject" data-frameid="">Reject</span>
							</li>
						</ul>
						<ul class="candidate-controls candidate-accept" style="display:none;">
							<li class='blue'>
								<span class="block-status-item" ><i class="fa fa-cloud-upload" aria-hidden="true"></i></span>
								<span class='block-status-item' id="cand-submit">Upload Candidates</span>
							</li>
						</ul>
							</div>
        </div>
				{% else %}
				<h3 class="section-title">Looking for {{object.body.current_name}}</h3>
				<p>There are currently no images or candidates available to measure.</p>
				{% endif %}
      </div>
    </div>
{% endblock %}
