numpy==1.23.5; sys_platform != 'win32'
numpy==1.23.5+mkl; sys_platform == 'win32' # From https://github.com/cgohlke/numpy-mkl-wheels/releases/tag/v2023.1.4
Django>=3.1.13,<3.2
#mysqlclient~=1.4.2
psycopg2-binary
astropy<6.0
astroquery>=0.4.4.dev7007
photutils==1.11.0
pyslalib
beautifulsoup4
django-reversion
html5lib
ipython<8.0
nose
pytz
six>=1.10.0
pycparser
requests[security]
selenium>=3.8,<4.0
pytest-django
tblib
mock
django-storages
boto3
matplotlib<3.5.2
MarkupSafe<2.0
Jinja2<3.0
bokeh==2.3.0
fits2image
pillow
aplpy
gunicorn[gevent]~=20.1.0
rollbar
sty
lxml
awscli
redis==3.5.3
watchdog<4.0
dramatiq[watch,redis]
django-dramatiq==0.11.0 # 0.11.1 drops support for Django 3.1
djangorestframework==3.12.1
freezegun
git+https://github.com/mkelley/calviacat.git@main#egg=calviacat
git+https://github.com/rlwastro/mastcasjobs@master
