numpy==1.26.4; sys_platform != 'win32'
numpy==1.26.3+mkl; sys_platform == 'win32'
Django>=4.2.20,<5.0
psycopg2-binary
astropy<6.0
astroquery>=0.4.4.dev7007
photutils
pySLALIB
beautifulsoup4
django-reversion
html5lib
ipython
nose
pytz
six>=1.10.0
pycparser
requests[security]
selenium>=3.8,<4.0
pytest-django
tblib
mock
django-storages
boto3
matplotlib<3.5.2
# MarkupSafe<2.0
# Jinja2>=2.11.0,<3.0
bokeh==2.3.0
fits2image
pillow>=6.2.1
aplpy
gunicorn[gevent]~=23.0.0
rollbar
sty
awscli
lxml
freezegun
tenacity
django-cors-headers
