--extra-index-url=http://buildsba.lco.gtn/python/
--trusted-host buildsba.lco.gtn
Django>=3.1.13,<3.2
mysqlclient~=1.4.2
psycopg2-binary
astropy>=3.1,<=3.2.3
astroquery>=0.4.4.dev7007
pyslalib
beautifulsoup4
django-reversion
html5lib
ipython<8.0
nose
pytz
six>=1.10.0
pycparser
requests[security]
selenium>=3.8,<4.0
pytest-django
tblib
mock
django-storages
boto3
matplotlib<3.3
Jinja2<3.0
bokeh==2.3.0
fits2image
pillow
aplpy
gunicorn[gevent]~=19.9.0
rollbar
sty
awscli
lxml
freezegun
tenacity
