a, a:visited { color: #3366DD; text-decoration: none; }
a:visited { color: #3366DD; }
a:hover, a:focus { color: #F46262; }
a:active { color: #A2C0DD; text-decoration: underline; }
h1, h2, h3, h4 { font-family: Century Gothic,sans-serif; font-weight: bold;}

#lcogt-bar { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #33363c;background: #33363c;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF222429, endColorstr=#FF33363c);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#222429),to(#33363c));background-image: -webkit-linear-gradient(top,#222429,#33363c);background-image: -moz-linear-gradient(top,#222429,#33363c);background-image: -o-linear-gradient(top,#222429,#33363c);background-image: linear-gradient(top,#222429,#33363c);color: white; }
#header-holder { background: url("img/NEOx-banner.jpg") no-repeat scroll -100px top #ffffff; background-position: right 0px center; }
#lcogt-bar { margin: 0; height: 32px; clear:both; color: #cccccc; overflow: hidden; }
#lcogt-bar a { color: #e6e6e6; text-decoration: none; }
#lcogt-bar ul { margin: 0; padding: 0; list-style: none; }
#lcogt-bar li { display: inline-block; padding: 0px 8px; }
#lcogt-bar li a { border-left: 1px solid #cccccc; padding-left: 8px; }
#lcogt-bar li:first-child { padding-left: 0px; }
#lcogt-bar li:first-child a { border-left: 0px; }
#lcogt-bar li:last-child { padding: 0px; }
#lcogt-bar li:last-child a { padding-left: 8px; }
#login { margin: 0; padding: 0 0 0 0; display: inline; float: right; text-align: right; }
#login, #lcogt-name { padding: 3px 8px; }
#powered-by {float: right; position:relative; padding: 30px 10px 5px 0; }
#powered-by img {max-width:200px}

fieldset { margin: 0px; padding: 0px; }
table { border-collapse: collapse; }

table.datatable { margin: 0px; padding: 0px; background-color: white; width: 100%!important; border-collapse: collapse; table-layout: fixed; color:#555;}
table.datatable th, table.datatable td { text-align: left; padding: 8px; border: 0px; font-weight: normal; }
table.datatable th { padding: 16px 8px; font-weight: bold; border-bottom: 1px solid #aaa;}
table.datatable td { border-bottom: 1px solid #e6e6e6; color: #202020; white-space: nowrap; overflow: auto; text-overflow: unset; }
table.datatable td a { display: block; }
table.datatable .wider { width: 12%; }

table.datatable  tr.odd, .odd, .grey-dark {
    background-color: #eee;
}
table.datatable  tr.even, .even, .grey-light {
    background-color: #f9f9f9;
}

.text-green {
  color: #4F8A10;
}

.green {
  color: #4F8A10;
  background-color: #DFF2BF;
}
.green a{color: #4F8A10;}

.text-red {
  color: #D8000C;
}

.red {
  color: #D8000C;
  background-color: #FFBABA;
}
.red a {color: #D8000C;}

.blue {
  color:#fff;
  background-color:#87cefa;
}
.blue a {color:#fff;}
.blue a:hover,
.blue:hover {
  color:#aaa;
}

table.datatable  tr:hover {
    background-color: #ddd;
}

.keyvalue-table, .keyvalue-table-minimal { width:100%;}

.keyvalue-table>tbody>tr>td {
  vertical-align: middle;
  padding-top: 11px;
  padding-bottom: 11px;
  border-top: none;
  border-bottom: 1px solid #ddd;
}

.keyvalue-table .kv-key {
  color: #555;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.keyvalue-table .kv-value {
  font-size: 18px;
  font-weight: 600;
  text-align: right;
}

.keyvalue-table-minimal>tbody>tr>td {
  vertical-align: middle;
  padding: 11px;
  border-top: none;
  border-bottom: 1px solid #ddd;
}

.keyvalue-table-minimal .kv-key {
  color: #555;
  font-size: 11px;
  text-transform: uppercase;
}

.keyvalue-table-minimal .kv-value {
  font-size: 12px;
  font-weight: 600;
  text-align: right;
}

.tooltip {
    position: relative;
    display: block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 100%;
    font-size: 11px;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.5s;
    overflow-wrap: break-word;
    text-transform: none !important;
}

.tooltip .tooltiptext::after {

    content: "";
    position: absolute;
    top: 100%;
    left: 25%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Portal styles */
h1 { margin: 0px; }
h2 { margin-top: 0px; }
a:focus { border: 1px dotted invert; }
#header { width: 100%; min-height: 96px; display: inline-block; }
#header-holder { display: block; clear:both; }
#header h1 { font-size: 1em; }
div p:first-child { margin-top: 0px; }
#logo { text-align: center; display: inline-block; margin-left: 10pt; float: left; }
#logo a { display: block; height: 64px; }
#logo img { height: 96px; display: block; border:0px; }
#site-name { display: inline-block; margin: 24px 0px 0px 16px; }
#site-name strong { font-family: Century Gothic, sans-serif; font-size: 28px; line-height: 1em; color: #202020; display: block; }
#site-name h1 { font-size: inherit; }
#site-name h1 a { color: black; text-decoration: none; }
#site-name #neox-version {font-size:80%;}
#navigation { margin: 8px 0px 0px 0px; display: inline-block; }
#navigation form {display:inline-block;}
#extramenu .title, .title_form { overflow: hidden; line-height: 2em; text-decoration: none; color: #202020; display: block; width: auto; vertical-align: middle; }
#extramenu .title_form { overflow: hidden; display: none; }
#extramenu .title h1 { font-family: inherit; font-weight: inherit; font-size: 1.2em; line-height: 2em; display: block; }
#extramenu .title h1, #extramenu .title h1 a { white-space:nowrap; overflow: hidden; text-overflow: ellipsis; }
.breadcrumb { float: right; line-height: 2em; list-style: none; margin: 0px; padding: 0px; }
#project_list ul li {
	display:list-item;
}
.breadcrumb ul { margin: 0px; padding: 0px; }
.breadcrumb li { display: inline-block; vertical-align: middle; }
/*.breadcrumb li:after { content:" "; box-shadow: -4px -4px 4px rgba(0,0,0,0.1); display: inline-block; height: 1em; width: 1em; transform: rotate(135deg); -webkit-transform: rotate(135deg); margin-right: 0.5em; margin-left: -0.25em; position: relative; top: 0.25em; }*/
.breadcrumb li:after { content:"\2192"; margin-left: 0.25em; }
.breadcrumb li:last-child:after { content:""; width: 0px; }
.breadcrumb .current-step a { color: inherit;  opacity: 1.0; filter: alpha(opacity=100); font-weight: bold; }
.breadcrumb a { opacity: 0.7; filter: alpha(opacity=70); display: inline-block; }
.breadcrumb a:hover { opacity: 1; filter: alpha(opacity=100); }
pre { margin: 0px; overflow-x: auto; }
ul.navlist, ol.navlist { list-style: none; margin: 0px; padding: 0px; 	display: inline-block;}
.navlist li { display: inline-block; border-right: 1px solid #B3B3B3; margin: 0px; padding: 0px; padding-right: 8px; margin-right: 8px; }
.navlist li:last-child { border-right: 0px; padding-right: 0px; margin-right: 0px; }
#request_title { text-decoration: none; color: #202020; display: block; cursor : pointer;}

#extramenu #navigation { float:right;}
#navigation .navlist li {
	border-right: 0px;
	padding-left: 10px;
	margin: 0px;
}
#navigation form {margin-left:16px; margin-right:16px;}

li.dropdown-menu {
	position: relative;
  color: #888 !important;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: Oswald,'Trebuchet MS','Open Sans',arial,sans-serif;
  background: 0 0;
  border: none;
  text-decoration: none;
}

li.dropdown-menu:hover {
    background: #eee
}

li.dropdown-menu:after {
	content: ' ';
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

#navigation .navlist  li ul.dropdown {
	display: none;
	position: absolute;
	z-index: 9999;
	left: 0;
	padding: 5px;
	margin: 0;
	background-color: #ffffff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}
#navigation .navlist  li ul.dropdown li {
	padding: 5px 7px;
	display: block;
}

#navigation .navlist  li ul.dropdown li a:hover {
	color: #888;
    background: #eee
}

#navigation .navlist li:hover ul.dropdown {
	display: block;
	z-index:1000;
}

#navigation	.navlist li a.navitem,
#navigation	.navlist li a.navitem:visited
	{ display: block; padding: 0px 8px; height: 1.5em; line-height: 1.5em;
  color: #888 !important;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: Oswald,'Trebuchet MS','Open Sans',arial,sans-serif;
  background: 0 0;
  border: none;
  text-decoration: none;
}

#navigation	.navlist>li>a:hover {
    color: #888;
    background: #eee
}

#navigation	.navlist>li.active>a,
#navigation	.navlist>li.active>a:hover {
    color: #d74b4b;
    background: 0 0;
    border-bottom: none
}

.btn {
  display: block;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  text-decoration: none;
}

.btn-transparent,
.btn-transparent:visited {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
  border-width: 2px;
}

.btn-transparent:hover {
  background: rgba(0, 0, 0, .1);
  text-decoration: none;
  color:#fff;
}

.btn-jumbo {
  padding: 13px 20px;
  font-size: 22px;
  line-height: 1.33;
  border-radius: 6px;
}

.button.button-primary, button.button-primary, input.button-primary[type="submit"], input.button-primary[type="reset"], input.button-primary[type="button"] {
    background-color: #6685a4;
    border-color: #54718d;
    color: #fff;
}

.pic_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

.title input {
	display: block;
	width: auto;
	height: 34px;
	padding-left: 3px;
	font-size: 19px;
	font-weight: normal;
	line-height: 1.42857143;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	font-family: Helvetica,"Bitstream Vera Sans",Arial,sans-serif !important;
}
.title input:focus {
	border-color: #66afe9;
	outline: 0;
}

.section-title{
	font-family: Oswald,'Trebuchet MS','Open Sans',arial,sans-serif;
	margin-bottom: 30px;
	border-bottom:	1px #ccc solid;
}

.section-title:after{
  content: "";
  display: block;
  position: relative;
  z-index: 10;
  width: 80px;
  height: 1px;
  margin: 20px 0 0;
  background: #6685a4;
}

.section-title:before{
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  z-index: 9;
  background: none;
}

#main-holder { display: inline-block; }
.container-lg {
  margin: 0 auto;
}

.fullwidth {
  margin: 0 auto;
  padding: 0 15px;
}

.masthead {
  padding: 35px 0 35px 0;
  color: #fff;
  background: #314657;
}

.content-container {
  display:table-row;
}

.home-button{
  display:inline-flex;
  flex-direction:column;
  padding-left:10px;
  }

#moon, #moonphase {
  display:table-cell;
  margin-top: 20%;
}

.home-button svg {
  height:75px;
  width:75px;
}

.highlightbox {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.smalltext {
	font-size: 80%;
}
.bigtext{
	font-size: 140%;
}

body.compose #main { background-color:#e6e6e6; }
body.view #main { background-color:#e6e6e6; }
body.calendar, body.calendar #main { background-color:#202020; }
body.page #main { display:block; overflow-y: auto; overflow: visible; background-color:white; margin-top:50px;}



.item { display: inline-block; margin-right: 4px; }

.observations {
    overflow:auto;
  list-style: none!important;
  list-style-type: none!important;
  margin: 0px;
  padding: 0px;
}
.observations li {
  padding:0px;
  display: inline;
  float: left;
  clear: none;
  list-style: none!important;
  background-image: url("");
}

.observations li { width: 50%; margin-right: 0px; }
.observations li:nth-child(2n+1) { clear: both; }
.observations .thumbnail { width: 100%; text-align: center; min-height: 100%; height: auto; }
.observations .thumb img { max-width: 98%; width: 98%; max-height: none; max-height: auto; }
.observations li:nth-child(2n+1) .thumbnail { text-align: left; }

form { margin: 0px; }
form label { display: inline-block; }
form .row { margin-bottom: 8px; }
form .rowlast { margin-bottom: 16px; }
body.compose form .row { color: #202020; margin-bottom: 16px; font-size:0.8em; }
body.compose form .rowlast { margin-bottom: 32px; }
body.compose form label, body.view form label { color: #202020; font-weight: bold; margin-bottom: 4px; }
#customForm label { width: 150px; }
#customForm select { margin-left:8px; font-size: 1em; }
form input, form select, form textarea { font-family: inherit; font-size: inherit; color: inherit; }
form.filter_form input { color: black; }
#extramenu, #extramenu-home, .menuholder {
	z-index:100;
	background-color: #F9F9F9;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    display: inline-block;
    position: relative;
    width: 100%;
    z-index: 100;
}
.extramenu_padder {
margin: 12px 32px 12px 32px;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
.buttons .button { margin-left:0.5em; margin-right: 0px; display: inline-block; }
.buttons .button:first-child { margin-left:0em; }
#extramenu .buttons { float: right; display: inline-block; }
#extramenu .headingleft { display: inline-block; margin-left: 16px}
a#menutoggle { display: none; }
.buttons .buttongroup { display: inline-block; }
body.view .button.disable { display: none; }

fieldset legend { font-weight: bold; }
.grid { display: table; width: 100%; }
.grid .row { display: table-row; width: 100%; }
.grid .row .col { display: table-cell; vertical-align: top; padding-bottom: 32px; }
.grid .row .col:first-child { width: 304px; padding-bottom: 16px; }
.grid textarea { height: 5em; }
.row:hover .gray-5 { color: #202020; }

.public { background-color: #dee8ff; }
.yes, .no { margin-left: 8px; }
#show-messages, .messages { text-align: center; position: relative; }
.warning {  background-color: #fee57f; }
.error {  background-color: #df0000; color: white; }
.msgpadded {
	clear:both;
	float:none;
	margin-left:auto;
	margin-right:auto;
	padding: 8px 32px;
}

#show-messages .warning, #show-messages .error, .messages .warning, .messages .error {  border-bottom: 1px solid #ccc; }
#show-messages .close, .messages .close { position: absolute; right: 32px; top: 8px; padding: 0px 0px 0px 8px; cursor: pointer; height: 16px; }
#show-messages ul, .messages ul { margin: 0; padding: 0; list-style: none; }
#show-messages li, .messages li { padding: 8px 0; border-top: 1px solid white; list-style: none;}
#show-messages li:first-child, .messages li:first-child { border-top: 0; }
.success { background-color: white; }

/* Sprites */
img.icon, img.iconbig { opacity: 0.7; filter: alpha(opacity=70); }
img.icon:hover, img.iconbig:hover, .button:hover img.icon { opacity: 0.9; filter: alpha(opacity=90); }
img.icon,.ui-icon { width:16px; height:16px; background:url('../images/icons_16.png') no-repeat scroll transparent; }
img.cross { background-position: 0px 0px!important; }
img.discard { background-position: -16px 0px!important; }
img.plus { background-position: 0px -16px!important; }
img.code { background-position: -16px -16px!important; }
img.gui { background-position: -32px -16px!important; }
img.duplicate { background-position: -16px -32px!important; }
img.save { background-position: -32px 0px!important; }
img.undo { background-position: -32px -32px!important; }
img.collapse { background-position: -16px -48px!important; }
img.expand { background-position: -16px -64px!important; }
img.configure { background-position: -16px -80px!important; }
img.filter { background-position: 0px -112px!important; }
img.menu { background-position: -48px -16px!important; }
img.right { background-position: 0px -48px!important; }
img.down { background-position: 0px -64px!important; }
img.left { background-position: 0px -80px!important; }
img.up { background-position: 0px -96px!important; }
img.wizard { background-position: -48px 0px!important; }
img.help { background-position: -48px -32px!important; }
img.bigcross { background-position: -48px -48px!important; }
img.sky { background-position: -48px -64px!important; }

/* Use white icon set */
.error img.icon, .error img.iconbig { opacity: 0.9; filter: alpha(opacity=90); }
.error img.icon:hover, .error img.iconbig:hover { opacity: 1.0; filter: alpha(opacity=100); }
.error img.icon, img.iconwhite { background:url('../images/icons_16_white.png') no-repeat scroll transparent; }

img.ok {
    background:url('../images/okay-16x16.png') no-repeat scroll transparent;
}

img.error {
    background:url('../images/stop-16x16.png') no-repeat scroll transparent;
}

.pink {
    background-color: #FFB6C1 !important;
}

#main-holder { display: table; width: 100%; }
#main-holder #main { width: auto; }
#main-holder #main, #main-holder #sidebar { display: table-cell; vertical-align: top; }
#main-holder #sidebar { overflow-y: auto; height: auto; width: 400px; box-shadow: inset 0.5em 0 0.5em -0.5em rgba(0,0,0,0.5); -moz-box-shadow: inset 0.5em 0 0.5em -0.5em rgba(0,0,0,0.5); -webkit-box-shadow: inset 0.5em 0 0.5em -0.5em rgba(0,0,0,0.5); }
#main-holder #sidebar label { color: white; }
#main-holder #sidebar select { color: black; }
#main-holder #sidebar #filters { padding: 16px; }
body.view #main-holder #sidebar { box-shadow: none; }

#main-holder.without-sidebar { display: block; }
#main-holder.without-sidebar #main { display: block; }
#main-holder.without-sidebar #sidebar { display: none; }

.pagination {
    text-align: center;
    margin-top: 1em;}

.pagination a {
    text-decoration: none;
    color: #fff;
    }

.pagination-number {
    padding: 0.5em 0.8em;
    border-radius: 2px;
    color: #fff;
    background-color: #6D85C7;}

.pagination-number:hover,
.page-current {
    background-color: #3354AA;
    padding: 0.2em 0.5em;
    font-size: 2em}

body.inbox #main table { margin: 0px; padding: 0px; background-color: white; width: 100%!important; border-collapse: collapse; table-layout: fixed; }
body.inbox #main th, body.inbox #main td { text-align: left; padding: 8px; border: 0px; font-weight: normal; }
body.inbox #main th { padding: 16px 8px; font-weight: bold; }
body.inbox #main th:first-child, body.inbox #main td:first-child { padding-left: 32px; }
body.inbox #main td { border-bottom: 1px solid #e6e6e6; background-color: #f9f9f9; color: #202020; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
body.inbox #main .list_title { width: 25%; }
body.inbox #main .list_project img { width: 16px; float: left; margin-right: 8px; }
body.inbox #main td a { display: block; }

#extramenu .title_form label { display: none; }
#extramenu .title_form input { position: relative; font-size: 1.2em; top: 0.1em; max-width: 100%; }
.proposal {
	position: relative;
	float: left;
	margin: 0;
	cursor: pointer;
	padding-right: 8px;
}
.project_image { position: relative; float: left; margin: 0; padding-bottom: 0.9em; cursor: pointer; padding-right: 8px; }
img.project_image { width: 2em; height: 2em; display: block; }
.project_image a { display: inline-block; }
.project_image a:focus {
outline: 0 none;
box-shadow: 0 0 4px 2px #7ea0ee;
-moz-box-shadow: 0px 0px 4px 2px #7ea0ee;
-webkit-box-shadow: 0px 0px 4px 2px #7ea0ee;
}

textarea, form input.full {
	width: 100%;
	margin: 0px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
form .twoCol {
    width: 100%;
}
form .twoCol div {
    float: left;
    width: 48%;
}
form .multiCol > div:last-of-type {
    float: right;
}
.multiCol .row {
	clear: inherit !important;
}

.row {
	clear: both;
}
.ui-autocomplete-input {
    width:300px;
}
.ui-helper-hidden-accessible {
    display:none;
}


.bold {
	font-weight:bold;
}
.fl {
	float:left;
}

.w50 {
	width:50%;
}


.dropmenu { background-color: #ffffff; padding: 0px; display: inline-block; z-index:1; }
.dropmenu ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	border: 8px solid #f6f6f6;
	box-shadow: 0px 4px 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 4px 4px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 4px 4px rgba(0,0,0,0.3);
}

.dropmenu ul li { margin: 0px; }
.dropmenu ul li a { display: block; padding: 8px; color: inherit; }
.dropmenu ul li a:focus { outline: 0 none; }
.dropmenu .menu-and { background-color: #3366dd; color: white; }
.dropmenu .menu-oneof { background-color: #77ef77; color: black; }
.dropmenu .menu-request { background-color: #fff5cc; color: black; }
.dropmenu.request_additions ul li  { background-color: #fee57f; margin-bottom: 1px; }
#lookUPresults { margin-top:4px; }

.poppitypin{padding:8px;font-size:0.85em;text-align:center;opacity:0.8;filter:alpha(opacity=80); background-repeat:no-repeat;white-space:nowrap;}
.poppitypin-inner{padding:12px;background-color:black;color:white;max-width:200px;text-align:center;border-radius:4px;white-space:normal; }
.poppitypin:before{content:"";display:block;width:0;height:0;border:8px solid #000;position:absolute;}
.poppitypin-center:before{content:"";display:block;width:0;height:0;border:0px solid #000;position:absolute;}
.poppitypin-south:before{left:50%;top:-8px;margin-left:-8px;border-color:transparent transparent #000;}
.poppitypin-north:before{left:50%;bottom:-8px;margin-left:-8px;border-color:#000 transparent transparent;}
.poppitypin-west:before{top:50%;right:-8px;margin-top:-8px;border-color:transparent transparent transparent #000;}
.poppitypin-east:before{top:50%;left:-8px;margin-top:-8px;border-color:transparent #000 transparent transparent;}
.poppitypin h2 { margin-bottom: 8px; }
.poppitypin .button { margin-top: 8px; cursor: pointer; color: black; margin-left: 8px;}
.ieold .poppitypin-north:before{_border-top-color: pink,_border-right-color: pink,_border-left-color:pink,_filter:chroma(color=pink);}
.ieold .poppitypin-south:before{_border-bottom-color: pink,_border-right-color: pink,_border-left-color:pink,_filter:chroma(color=pink);}
.ieold .poppitypin-east:before{_border-top-color: pink,_border-bottom-color: pink,_border-left-color:pink,_filter:chroma(color=pink);}
.ieold .poppitypin-west:before{_border-top-color: pink,_border-bottom-color: pink,_border-right-color:pink,_filter:chroma(color=pink);}

ol#thread li { margin-left: 0; border: 0px; margin-bottom: 4px; /*-webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;*/ }
ol#thread li:last-child { margin-bottom: 0px; }
ol#thread .handle { background-color: #999999; padding: 6px 8px; color: white; cursor: pointer; line-height: 24px; /*-webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;*/ }
ol#thread .open .handle { /*-webkit-border-radius: 8px 8px 0 0; -moz-border-radius: 8px 8px 0 0; border-radius: 8px 8px 0 0;*/ }
ol#thread .contents { border: 8px solid #999999; background-color: white; border-top: 0px; /*-webkit-border-radius: 0 0 8px 8px; -moz-border-radius: 0 0 8px 8px; border-radius: 0 0 8px 8px;*/ }
time.datestamp { display: inline-block; }
time.nicedate { cursor: pointer; }
ol#thread .datestamp { float: right; }
ol#thread li.status_done .handle { background-color: #076b08; color: white; } /* Colour contrast of 6.7:1 - passes AA guidelines and passes AAA given that it is larger/bold text */
ol#thread li.status_done .contents { border: 8px solid #076b08; border-top: 0px; }
ol#thread li.status_error .handle { background-color: #df0000; color: white; } /* Colour contrast of 5.1:1 - passes AA guidelines and passes AAA given that it is larger/bold text */
ol#thread li.status_error .contents { border: 8px solid #df0000; border-top: 0px; }

ol#thread .thumbnail { display: block; margin: 0px 0px; }

ol#thread .thumbnail.closed { display: inline-block; margin: 0px; }
ol#projectlist, ol#observationlist { padding: 0px; margin: 0px; display: block; list-style: none; }
ol#projectlist li.project { display: block; padding: 0px; margin: 0px 0px 8px 0px; border: 0px; background-color: #f3f3f3; overflow: hidden; }
ol#projectlist li.project h4 { font-weight: bold; }
ol#projectlist li .projectmembership { background-color: #999999; color: white; padding: 0 0.5em; }
ol#projectlist li.pi .projectmembership { background-color: #3366dd; }
ol#projectlist li.coi .projectmembership { background-color: #009d00; }
ol#projectlist li.member .projectmembership { background-color: #999999; }
.project .navlist { display: inline-block; }
.project .thumbnail { display: table-cell; padding-right: 8px; line-height: 0px; }
.project .thumbnail img { height: 64px; }
.project .contents { display: table-cell; vertical-align: top; }
.project h4 { font: inherit; margin: 0px; display: inline-block; }
.project h4 a { display: block; }
.project .projecttitle, .project .projectmembership, .proposalstatus { display: inline-block; line-height: 2em; margin: 0px 0px 4px 0px; font-weight: bold; }


/* CSS for results thumbnails */
/* Shared with lcogt.net/observations */
.observation-results { overflow:auto; list-style: none!important; list-style-type: none!important; margin: 0px; padding: 0px; }
.observation-results li { padding:0px; display: inline; float: left; clear: none; list-style: none!important; background-image: url(""); }
.observation-results .thumb { margin: 0px 0px 16px 0px; line-height: 1em; position: relative; }
.observation-results .onerow { margin: 0px 0px 0px 0px!important;}
.observation-results .thumbnail { display:block; height: 144px; width: 144px; }
.observation-results li.end-of-line { margin-right: 0px!important; }
.observation-results .thumb img { width: 144px; max-height: 144px; margin: 0px; border: 0px; }
.observation-results .thumb a { margin: 0px; padding:0px; display: inline-block; line-height: 0px; }
.observation-results .thumb .more-info-hint { font-weight: bold; text-align: right; background-color: #3366dd; color: white; font-size: 0.8em; line-height: 1.5em; padding: 4px; position:absolute; right: 0px; text-decoration: none; opacity: 0.70; filter:alpha(opacity=70); display: block; }
.observation-results .thumb .more-info-hint:hover { text-decoration: none; cursor: pointer; }
.observation-results .thumb:hover .more-info-hint { opacity: 1.0; filter:alpha(opacity=100); }
.observation-results .thumb p { margin: 4px 0px 0px 0px!important; padding: 0px; text-align: center; font-size:0.9em; }
.observation-results .thumb .more-info { display: none; }
#thread .observation-results li { margin-bottom: 0px; }
#thread .observation-results .thumb { margin: 16px 0px 0px 0px; }


/* Styling of thumbnail fits header info using <li>*/
.headerinfo {padding: 0; margin: 0; list-style: none; }
.headerinfo li {height: auto; padding: 0px 8px 2px 0px;}  /* all list items */

/* Styling of thumbnail fits header info using <span>*/
.observation-results span ul {padding: 0; margin: 0; list-style: none; position: absolute; background: white; padding: 0px 0px 0px 4px; width: 250px; left: -9999px; opacity: 0.5;} /* second-level lists */}
.observation-results span ul li {height: auto; float: left; padding: 0px 8px 2px 0px;}  /* all list items */
.observation-results span:hover ul {left: auto; outline: black; outline-style: solid;} /* nest list under hovered list items */
.observation-results span:hover ul li {height: auto; float: left; padding: 0px 8px 2px 0px;} /* nest list under hovered list items */

div.obsrequestlist ol { list-style: none; margin: 16px 0px; }
ol#thread div.obsrequestlist ol { margin: 16px 0px 0px 0px; }

ol#newslist .newstitle, ol#newslist .newscontent, ol#newslist time { display: inline-block; }
ol#newslist .newstitle { margin-right: 8px; }
#about { background-color: #e6e6e6; }
#about.project .thumbnail img { height: 128px; }
.proprietary { background-color: #fff5cc!important; }

#slotdate h2 { margin: 0px; }

.preview .preview-area { font-family: cmr10, serif; text-align: justify; min-height: 4em;}
.preview .preview-area, .previewable { margin-bottom: 4px; }
.col ul { list-style: none; margin: 0px; padding: 0px; }
.charlimit { float: right; }
.grid .proposal-scientific textarea, .grid .proposal-technical textarea { height: 20em; }
.grid .proposal-report textarea, .grid .proposal-related textarea, .grid .proposal-publications textarea { height: 10em; }


.copyit {
	display:inline !important;
	border:none !important;
}

.cancelit {
	display:inline-block !important;
	border:none !important;
}

.deleteit {
	display:inline-block !important;
	border:none !important;
}

body.inbox #main td a.copyit {
    /*display: inherit !important;*/
}

/* help */

.helpme {
	background-color: #A2C0DD;
}

.pophelp {
	margin:20px;
}

.pagehelp {
	margin-top:10px;
	margin-bottom:10px;
	display:none;
}

.pagehelp h3 {
	border-bottom:1px solid black;
}

.pagehelp h4 {
	margin-bottom:0px;
	margin-top:4px;
}

.helpback {
	margin-left:20px;
	margin-right:20px;
	margin-bottom:20px;
	float:left;
	display:none;
}

.helpclose {
	margin-right:20px;
	margin-bottom:20px;
	float:right;
}

.number_of_requests,
.total_time_in_seconds {
	font-weight: bold;
}

.project_inp {
	display:inline-block;
}

/* System messages */
div#show-messages {
  display:none;
  border: 0px;
  background: white;
  position:absolute;
  z-index: 99;
  width: 500px;
  box-shadow:0px 0px 40px #000;
  -moz-box-shadow:0px 0px 40px #000;
  -webkit-box-shadow:0px 0px 40px #000;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  font-size: 1em;
}
div#show-messages-inner {
  padding: 32px;
  overflow: auto;
}
div#show-messages-close {
    border: 0 solid #bbb;
    color: #808080;
    cursor: pointer;
    float: right;
    font-weight: bold;
    line-height: 1em;
    position:relative;
    top:-16px;
    right:-16px;
    margin-right: -8px;
    margin-top: -4px;
    padding: 4px 8px;
    text-align: center;
}
div#show-messages-close:hover { color: #444; background-color: #eee; }

.highlight {
 text-shadow: 0 0 5px #00ff00;
}

.blink-all-candidates {display:block;}
.candidate-select {display:table-cell;}
ul.block-status, ul.candidate-control { margin: 0; padding: 0; list-style: none; }
ul.block-status li, ul.candidate-controls li { padding: 8px 0; border-top: 1px solid white; list-style: none; display:block;cursor: pointer;}
ul.candidate-controls li {width:100%;}
.block-status-line, .candidate {display:block;cursor:pointer;}
.block-status-item { display:table-cell; padding: 0 10px;}
.block-control { padding: 0 10px;}

ul.candidate-controls li:hover {background-color:#eee; }

.warning-msg {
  display: block;
  padding: 10px;
  color: #9F6000;
  background-color: #FEEFB3;
  font-size: 1.2em;
}

/* Responsive design styles */

@media (max-width: 1280px), (max-device-width: 1280px) {
	#main-holder #sidebar { width: 400px; }
  .container-lg{width:auto;}

}

@media (max-width: 1024px), (max-device-width: 1024px) {
  .container-lg{width:auto;}
  .row {min-width: auto;}
  h1 { font-size: 24px; margin-top: 0px; }

	ol#observationlist li { width: 15.8%; height: auto; margin-right: 1%; }
	ol#observationlist li:nth-child(6n) { margin-right: 0%; }

	.project_list ul { width: 100%; text-align: left; }
	.project_list li { display: table-row; clear: both; width:100%; }
	.project_list li label { display: table-cell; }
	.project_list .project_title, .project_list .project_img, .project_list .project_inp { display: table-cell; padding-bottom: 4px; vertical-align: middle; }
	.project_list .project_title a { padding: 16px 0px; float: left; }
	.project_list .project_img img { margin-right: 8px; }
	#main-holder #sidebar { width: 304px; }
	ol#thread .datestamp { float: none; display: inline-block; }
	.without-sidebar ol#thread .datestamp { float: right; display: inline-block; }
}

@media (max-width: 740px), (max-device-width: 740px) {
	body { overflow: auto; }
	#header { min-height: 64px; }
	#logo { margin-left: 16px; }
	#navigation { margin: 8px 0px 0px 0px; display: block; float: none; }
	.navlist li { padding-right: 8px; }
	#extramenu { min-height: 48px;}
	#extramenu .extramenu_padder { margin: 8px 16px 0px 16px; height: auto; }
	#extramenu .headingleft { width: 100%; }
	.project_image { padding-bottom: 0em; }
	.project_image img { margin-bottom: 0em; }

	#extramenu .title_form { vertical-align: middle; }
	#extramenu .title_form label { display: none; }
	#extramenu .title_form input { top: 0; }
	#gui ol#plan, #scheduledrequest ol#thread { margin: 16px; }

	.breadcrumb { float: none; }

	.smallpadder { margin: 4px; }
	.padder { margin: 8px; }
	.bigpadder { margin: 16px; }
	.hugepadder { margin: 24px; }
	.paddercompact { margin: 4px; }
	.smallpadded { padding: 4px; }
	.padded { padding: 8px; }
	.bigpadded { padding: 16px; }
	.hugepadded { padding: 24px; }
	.msgpadded { padding: 8px 16px; }
	#messages .close, .messages .close { right: 16px; top: 8px; }

	body.inbox #main th:first-child, body.inbox #main td:first-child { padding-left: 16px; }
	#main-holder #sidebar { width: 208px; }

	#add_window, #add_constraint, #add_target, #add_location { max-height: 100%; z-index: 102; }
	.lightbox_top {
		max-width: 100%;
		max-height: 100%;
		box-shadow: 0px 0px 0px;
		-moz-box-shadow: 0px 0px 0px;
		-webkit-box-shadow: 0px 0px 0px;
		border: 0px;
		left: 0px;
		top: 0px;
	}

	.dropmenu ul { border-width: 8px; }
	.dropmenu ul li a { padding: 12px; }
	.lightbox_bg { background-color: white; }
	form#request .noscript-pad { margin: 16px; }
	div.compactonly { display: inline-block; }

	.buttons .button { margin-right: 0px; float: none; }

	ol#observationlist li { width: 24.25%; height: auto; margin-right: 1%; }
	ol#observationlist li:nth-child(n) { margin-right: 1%; }
	ol#observationlist li:nth-child(4n) { margin-right: 0%; }

	.grid .row .col { width: 50%; }
	.grid .row .col:first-child { padding-bottom: 8px; }
	.twocol { width: 304px; }
	.threecol { width: 464px; }
	.fourcol { width: 624px; }

  #powered-by {display:none;}
  table.datatable {
     border: 0;
   }

   table.datatable thead {
     display: none;
   }

   table.datatable tr, table.keyvalue-table tr {
     margin-bottom: 10px;
     display: block;
     border-bottom: 2px solid #ddd;
   }

   table.datatable td, table.keyvalue-table td {
     display: block;
     text-align: right;
     font-size: 13px;
     border-bottom: 1px dotted #ccc;
   }

   table.datatable td:last-child {
     border-bottom: 0;
   }

   table.datatable td:before {
     content: attr(data-label);
     float: left;
     text-transform: uppercase;
     font-weight: bold;
   }

   .btn { line-height: 1em; padding: 5px; font-size: 13px;}

}

@media (max-width: 600px), (max-device-width: 600px) {
  #navigation form {display:none;}

	.twocol { width: 304px; }
	.threecol { width: 464px; }
	.fourcol { width: 624px; }
	.smallpadder { margin: 2px; }
	.padder { margin: 4px; }
	.bigpadder { margin: 12px; }
	.hugepadder { margin: 16px; }
	.paddercompact { margin: 2px; }
	.smallpadded { padding: 2px; }
	.padded { padding: 4px; }
	.bigpadded { padding: 12px; }
	.hugepadded { padding: 16px; }
	.msgpadded { padding: 4px 16px; }
	#messages .close, .messages .close { right: 16px; top: 4px; }

	h1, h2, h3, h4, p { margin-bottom: 8px; }
  h1 { font-size: 1.2em;}
	h2 { font-size: 1.3em; }
	h3 { font-size: 1.1em; }
	h4 { font-size: 1em; }
	form select { margin-left: 0px; }

	/* When the screen gets narrow we have problems displaying the logo
	   and menu so we hide the graphic version of the logo and make a
	   compact text representation */
	#header-holder { background: #e6e6e6; }
	.l, .c, .o, .g, .t { font-family: Helvetica, sans-serif; font-weight: bold; }
	.l, .g { color: #3366dd; }
	.c { color: #df0000; }
	.o { color: #fac900; }
	.t { color: #009d00; }
	.wide { display: none; }
	#logo { display: none; }
	#site-name { display: block; text-align: center; padding: 8px 0px; margin: 0px 8px; }
	#site-name h1 { font-size: 24px; }
	#site-name { padding: 8px 0px; margin: 0px 8px; }

	.navlist li { padding: 0px; margin: 0px; }

	#header { min-height: 64px; }
	form input.full { max-width:98%; }
	#main-holder #sidebar, #main-holder #main { display: block; width: auto; border-right: 0px; }
	ol#thread li.site-open .arrow { display: none; }
	#extramenu h1 { margin: 0px; }
	/* The negative right margin of .buttonspacer is due to the fact that the menu toggle button comes first to preserve tab order for keyboard navigation */
	#extramenu .buttonspacer { margin-bottom: 16px; margin-top: 40px; margin-right: 0; text-align: center; z-index: 10; position: absolute; right: -56px; top: 0px;  box-shadow: 0px 3px 3px rgba(0,0,0,0.2); -moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2); -webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2); }
	a#menutoggle, a#filtertoggle { display: inline-block; float: right; margin-left: 8px; position: relative; z-index: 11; }
	a#filtertoggle { width: auto; }
	.buttons .buttongroup { display: none; padding: 8px 16px 16px 16px; background-color: #F9F9F9; }
	.buttons .button { width: 100%; margin-left: 0; margin-bottom: 8px; }
	.buttons .button:last-child { margin-bottom: 0px; }
	#sidebar, #sidebar ul { width: 100%; max-width: 100%; }
	#gui ol#plan ol { padding: 8px 8px 0; }
	#gui .request, #gui .compoundrequest { margin-bottom: 8px; }
	ol#projectlist li .navlist { display: block; }
	ol#projectlist li .navlist li { display: block; border-right: 0px; margin: 8px 0px 0px 0px;}
	ol#observationlist li { width: 32.66%; height: auto; margin-right: 1%; }
	ol#observationlist li:nth-child(n) { margin-right: 1%; }
	ol#observationlist li:nth-child(3n) { margin-right: 0%; }
	#about.project .thumbnail img { height:64px; }
	ol#projectlist li.project { background-color: transparent; margin: 0px; border-bottom: 1px solid #999999; vertical-align: top; }
	ol#projectlist li.project:last-child { border-bottom: 0px; }
	ol#projectlist li .projectmembership { display: inline-block; }
	ol#projectlist li.project .thumbnail { display: inline-block; padding-right: 4px; }
	ol#projectlist li.project .thumbnail img { height: 2em; }
	ol#projectlist li.project .thumbnail a { display: inline-block; height: 2em; width: 2em; 	}
	ol#projectlist li.project .contents { display: inline; }
	.grid .row .col { display: block; width: 100%!important;}
	.item { display: block; margin-right: 0px; margin-top: 4px; }
	#filters .row { display: inline-block; margin-right: 16px; }
	#new_proposal_form fieldset { margin-bottom: 16px; border: 1px solid #e3e3e3; }
	#gui .window .window_inner, #gui .piece, .menu-button { padding: 8px 12px; }
	#gui .handle { line-height: 2em; padding: 8px; }
	#gui .property { display: block; }
	#gui .constraints { font-size: 1em; display: table; }
	#gui .window, #gui .molecule, #gui .constraint, #gui .opts { display: block; width: 100%; max-width: 100%; }
	#gui .piece, #gui .constraints .close { display: table-cell; }
	#gui .window .window_inner, #gui .piece { float: none; }
}

@media (max-width: 320px), (max-device-width: 320px) {
	ol#observationlist li { width: 49%; height: auto; margin-right: 2%; }
	ol#observationlist li:nth-child(n) { margin-right: 2%; }
	ol#observationlist li:nth-child(2n) { margin-right: 0%; }
	#gui .request_options .remove { padding: 4px; }
	.yes, .no { margin-top: 4px; }
}

.moon { fill:#D6D5C0; }
.moonback { fill:black;stroke:#fff;stroke-width:1px; }

.bk-root .slick-cell.selected {
    background: white;
    color: black;
}

.bk-root .slick-cell {
    background: white;
    color: silver;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
}

.active, .collapsible:hover {
  background-color: #555;
  color: white;
}
