{% extends 'base.html' %}

{% block bodyclass %}page{% endblock %}

{% block header %}
    Pipeline Submit
{% endblock %}

{% block extramenu %}
    <div class="headingleft">
        <h1>Pipeline Submit</h1>
    </div>
{% endblock%}

{% block main-content %}
            <!-- Main body -->

            <div class="container" id="main">
              <h3>{{form_title}}</h3>
                    <div class="row">
                      <div class="eight columns">
                            <form action="{% url 'pipesubmitdlc' %}" method="post">
                            {% csrf_token %}
                            {{form.as_p}}
                            <input type="submit" value="Submit">
                            </form>
                    </div>
                    <div class="four columns rightsidebar">
                      <a href="{% url 'pipelines' %}" class="button button-primary" >Pipeline List</a>
                    </div>
                  </div>
              </div>

{% endblock %}
