{% extends 'base.html' %}
{% load static basic_tags %}

{% block header %}Logs for {{object.identifier}}{% endblock %}

{% block extramenu %}
    <div class="headingleft">
        <h1>Pipeline processing</h1>
    </div>
{% endblock%}

{% block bodyclass %}page{% endblock %}

{% block main-content %}
<div class="container" id="main">
  <div class="eight columns">
    <h2>{{title}}</h2>
    <h4>Name: {{ object.identifier }}: <span id="process-status">{{object.status|upper}}</span></h4>
    <h5>Inputs</h5>
    <table class="table">
    {% for k, v in object.inputs_dict.items %}
    <tr>
      <td>{{k}}</td><td>{{v|booleanicon|safe}}</td>
    </tr>
    {% endfor %}
    </table>
  </div>
  <div class="four columns rightsidebar">
    <a href="{% url 'pipelines' %}" class="button button-primary" >Pipeline List</a>
  </div>

<div class="row">
    <div class="twelve columns">
      {% if object.failure_message %}
      <div class="messages error">
        {{object.failure_message}}
      </div>
      {% endif %}
        <p>
            <label>
                <input type="checkbox" id="follow-logs" />
                Automatically scroll logs
            </label>
        </p>
        <pre class="logs"><code>Loading ...</code></pre>
    </div>
</div>
</div>

<script type='text/javascript'>
    const PIPELINE_PROCESS_PK = "{{ object.pk }}";
</script>
<script type='text/javascript' src='{% static 'core/js/pipelines.js' %}'></script>
<script type='text/javascript' src='{% static 'core/js/pipelineprocess_detail.js' %}'></script>

{% endblock %}
