{% extends 'base.html' %}

{% load static %}

{% block css-content %}
<link href="{% static 'css/core.css' %}" rel='stylesheet' />
<link href="{% static 'css/daygrid.css' %}" rel='stylesheet' />
<link href="{% static 'css/timegrid.css' %}" rel='stylesheet' />
<link href="{% static 'css/list.css' %}" rel='stylesheet' />
{% endblock %}
{% block script-content %}
<script src="{% static 'js/core.js' %}"></script>
<script src="{% static 'js/interaction.js' %}"></script>
<script src="{% static 'js/daygrid.js' %}"></script>
<script src="{% static 'js/timegrid.js' %}"></script>
<script src="{% static 'js/list.js' %}"></script>
<script>

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      plugins: [ 'interaction', 'dayGrid', 'timeGrid', 'list' ],
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
      },
      defaultDate: '2020-05-12',
      editable: true,
      navLinks: true, // can click day/week names to navigate views
      eventLimit: true, // allow "more" link when too many events
      events: {
        url: '/events/arecibo/',
        failure: function() {
          document.getElementById('script-warning').style.display = 'block'
        }
      },
      loading: function(bool) {
        document.getElementById('loading').style.display =
          bool ? 'block' : 'none';
      }
    });

    calendar.render();
  });

</script>
{% endblock %}


{% block main-content %}
  <div id='loading'>loading...</div>

  <div id='calendar'></div>
{% endblock %}
