{% extends 'base.html' %}
{% load staticfiles basic_tags %}

{% block header %}ADES format report{% endblock %}

{% block bodyclass %}page{% endblock %}


{% block extramenu %}
<div class="headingleft">
  <h1>Source Measurements for: <a href="{% url 'target' body.id %}">{{body.current_name}}</a>{% if slot %} in block <a href="{% url 'block-view' pk=slot.id %}">&#35;{{slot.id}}</a>{% endif %}</h1>
</div>
{% endblock%}

{% block main-content %}

        <div id="main" class="fill-height fullwidth">
            <div class="container">
            <div class="row" style="margin-top: .1em;">

              {% if slot %}
              <a class="button button-primary" href="{% url 'block-submit-mpc' slot.id body.id %}">Report to MPC</a>
              {% endif %}

              {% if measures %}
              <a class="button mode-switch" href="{% if is_paginated %} ?page=0 {% else %} ?page=1 {% endif %}" id="page-switch">Toggle Pages</a>
                  <a href="{% if slot %}{% url 'block-report' slot.id %}{% else %}{% url 'measurement' body.id %}{%endif%}">[View in HTML format]</a>
              <a href="{% url 'measurement-mpc' body.id %}">[ View in MPC format ]</a>
{% comment %} Do not fiddle with/adjust the "incorrect" indentation below. The
MPC ADES report is in a slightly less strictly defined format than MPC1992 but
stray spaces/blank lines still matter. A Lot.
{% endcomment %}

<pre>{{measures.0.format_psv_header}}{% for line in measures %}
{{ line.format_psv_line }}{% endfor %}
</pre>
              {% else %}
              <h3>No report has been made for this block.</h3>
              {% endif %}
            </div>
        </div>
        <div class="row">
                {% if is_paginated %}
                    <!-- start -->
                            {% include '_pagination.html' with items=items %}
                    <!-- end -->
                {% endif %}
        </div>
    </div>
{% endblock %}
