{% extends 'base.html' %}
{% load staticfiles %}

{% block header %}Block details{% endblock %}

{% block bodyclass %}page{% endblock %}

{% block extramenu %}
    <div class="headingleft">
        <h1>Block: {{object.pk}}</h1>
    </div>
{% endblock%}

{% block main-content %}
    <!-- Main body -->
    <div class="container" id="main">
            <div class="row">
                <div class="eight columns">
                    <h5 class="section-title">Details of the Block</h5>
                    <table class="keyvalue-table" id="id_blockdetail">
                        <tbody>
                            <tr>
                                <td class="kv-key">Telescope class</td>
                                <td class="kv-value">{{object.telclass}}</td>
                            </tr>
                            <tr>
                                <td class="kv-key">Site</td>
                                <td class="kv-value">{{object.site|upper}}</td>
                            </tr>
                            <tr>
                                <td class="kv-key">Body</td>
                                <td class="kv-value"><a href="{% url 'target' object.body.pk %}">{{object.body.current_name}}</a></td>
                            </tr>
                            <tr>
                                <td class="kv-key">Proposal</td>
                                <td class="kv-value">{{object.proposal.title}} ({{object.proposal.code}})</td>
                            </tr>
                            <tr>
                                <td class="kv-key">Block start</td>
                                <td class="kv-value">{{object.block_start|date:"Y-m-d H:i"}}</td>
                            </tr>
                            <tr>
                                <td class="kv-key">Block end</td>
                                <td class="kv-value">{{object.block_end|date:"Y-m-d H:i"}}</td>
                            </tr>
                            <tr>
                                <td class="kv-key">Tracking number</td>
                                <td class="kv-value"><a href="{{object.make_obsblock_link}}">{{object.tracking_number}}</a></td>
                            </tr>
                            <tr>
                                <td class="kv-key">Number of exposures</td>
                                <td class="kv-value">{{object.num_exposures}}</td>
                            </tr>
                            <tr>
                                <td class="kv-key">Exposure length</td>
                                <td class="kv-value">{{object.exp_length}} seconds</td>
                            </tr>
                            <tr>
                                <td class="kv-key">Last observed</td>
                                <td class="kv-value">{% if object.num_observed > 0 %}{{object.when_observed|date:"Y-m-d H:i"}}{% else %}Not Observed{% endif %}</td>
                            </tr>
                            <tr>
                                <td class="kv-key">Active?</td>
                                <td class="kv-value"><span class="">{% if object.active %}<span class="warning msgpadded">Active</span>{% else %}Not Active{% endif %}</span></td>
                            </tr>
                            <tr>
                                <td class="kv-key">Reported?</td>
                                <td class="kv-value"><span class="">{% if object.reported %}<span class="warning msgpadded">Reported</span>{% else %}Not Reported{% endif %}</span></td>
                            </tr>
                            <tr>
                                <td class="kv-key">When Reported</td>
                                <td class="kv-value"><span class="">{% if object.reported %}<span class="warning msgpadded">{{object.when_reported|date:"Y-m-d H:i"}}</span>{% else %}Not Reported{% endif %}</span></td>
                            </tr>
                      </tbody>
                    </table>
                </div>
                <div class="four columns">
                    <h5 class="section-title">Actions</h5>
                        {% if request.user.is_authenticated %}
                          {% if not object.reported and object.num_observed > 0 %}
                          <a class="button button-primary" href="{% url 'block-ast' object.id %}">Astrometer</a><br/>
                        <a class="button button-primary" href="{% url 'report-block' object.id %}">Report</a><br/>
                          {% elif object.reported %}
                        <a class="button button-primary" href="{% url 'view-report' object.id %}">View report in MPC format</a><br/>
                        <a class="button button-primary" href="{% url 'upload-report' object.id %}">Upload MPC format</a>
                          {%else%}
                          No actions available
                          {% endif %}
                        {% else %}
                        <a href="{% url 'auth_login' %}?next={{request.path}}">Log in to see actions</a>
                        {% endif %}
                    {% if images and request.user.is_authenticated %}
                    <h5 class="section-title">Observations</h5>
                        <ul class="observations">
                        {% for img in images %}
                        <li class="thumb"><a href="http://lcogt.net/observations/identity/?origname={{img.1}}.fits"><img src="http://data.lcogt.net/thumbnail/{{img.1}}/?width=150&height=150&gamma=2.5&label=0"></a></li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock %}
