{% extends 'base.html' %}
{% load static basic_tags %}

{% block header %}
    {% if object.cadence %}
    Cadence details
    {% else %}
    Block details
    {% endif %}
{% endblock %}

{% block script-content %}
{% endblock %}

{% block bodyclass %}page{% endblock %}

{% block extramenu %}
    <div class="headingleft">
        <h1>Block: {{object.pk}}</h1>
    </div>
{% endblock%}

{% block main-content %}
    <!-- Main body -->
    <div class="container" id="main">
            <div class="row">
                <div class="eight columns">
                    {% if object.cadence %}
                        <h5 class="section-title">Details of the Cadence</h5>
                    {% else %}
                         <h5 class="section-title">Details of the Block</h5>
                    {% endif %}
                    <table class="keyvalue-table" id="id_blockdetail">
                        <tbody>
                            <tr>
                                <td class="kv-key">Telescope class</td>
                                <td class="kv-value">{{object.get_telclass}}</td>
                            </tr>
                            <tr>
                                <td class="kv-key">Site</td>
                                <td class="kv-value">{{object.get_sites|upper}}</td>
                            </tr>
                            {% if object.body %}
                                <tr>
                                    <td class="kv-key">Body</td>
                                    <td class="kv-value"><a href="{% url 'target' object.body.pk %}">{{object.body.current_name}}</a></td>
                                </tr>
                            {% elif object.calibsource %}
                                <tr>
                                    <td class="kv-key">Calibration Source</td>
                                    <td class="kv-value"><a href="{% url 'calibsource' object.calibsource.pk %}">{{object.calibsource.current_name}}</a></td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td class="kv-key">Target</td>
                                    <td class="kv-value">None!?</td>
                                </tr>
                            {% endif %}
                            <tr>
                                <td class="kv-key">Proposal</td>
                                <td class="kv-value">{{object.proposal.title}} ({{object.proposal.code}})</td>
                            </tr>
                            <tr>
                                <td class="kv-key">Block start</td>
                                <td class="kv-value">{{object.block_start|date:"Y-m-d H:i"}}</td>
                            </tr>
                            <tr>
                                <td class="kv-key">Block end</td>
                                <td class="kv-value">{{object.block_end|date:"Y-m-d H:i"}}</td>
                            </tr>
                            <tr>
                                <td class="kv-key">Tracking number</td>
                                <td class="kv-value"><a href="{{object.make_obsblock_link}}">{{object.tracking_number}}</a></td>
                            </tr>
                            <tr>
                                <td class="kv-key">Number of exposures</td>
                                <td class="kv-value">{{object.get_obsdetails}}</td>
                            </tr>
                            <tr>
                                <td class="kv-key">Last observed</td>
                                <td class="kv-value">{% if object.get_num_observed.0 > 0 %}{{object.get_last_observed|date:"Y-m-d H:i"}}{% else %}Not Observed{% endif %}</td>
                            </tr>
                            <tr>
                                <td class="kv-key">Active?</td>
                                <td class="kv-value"><span class="">{% if object.active %}<span class="warning msgpadded">Active</span>{% else %}Not Active{% endif %}</span></td>
                            </tr>
                            <tr>
                                <td class="kv-key">Reported?</td>
                                <td class="kv-value"><span class="">{% if object.get_num_reported.0 > 0 %}<span class="warning msgpadded">Reported</span>{% else %}Not Reported{% endif %}</span></td>
                            </tr>
                            <tr>
                                <td class="kv-key">When Reported</td>
                                <td class="kv-value"><span class="">{% if object.get_num_reported.0 > 0 %}<span class="warning msgpadded">{{object.get_last_reported|date:"Y-m-d H:i"}}</span>{% else %}Not Reported{% endif %}</span></td>
                            </tr>
                      </tbody>
                    </table>
                </div>
                <div class="four columns">

                  {% if dataproducts %}
                  <h5 class="section-title">Data Products</h5>
                  {% for dp in dataproducts%}
                  <a href="{{dp.product.url}}">{{dp.get_filetype_display}}</a><br/>
                  {% endfor %}
                  {% endif %}
                    <h5 class="section-title">{% if object.block_set.all%}Observation Blocks{% else%}Controls{% endif %}</h5>
                        {% if request.user.is_authenticated %}
                        {% if object.active %}
                        <a class="button warning" href="{% url 'block-cancel' object.pk %}" id='cancelblock'>Cancel Block</a>
                        {% endif %}
                        {% if object.block_set.all|length > 1 %}
                        <a href="{% url 'view-timeline' object.id %}" class="button button-primary">Observation timeline</a>
                        {% endif %}
                        <a href="{% url 'guidemovie' object.id %}" class="button button-primary">Preview Movies</a>
                        <ul class="block-status">
                        {% for blk in object.block_set.all %}
                        <li class="{% cycle 'odd' 'even' %}">
                            <span class="block-control">Request Number: <a href="{{blk.make_obsblock_link}}">{{blk.request_number}}</a></span><br/>
                            <span class="block-status-line">
                              <span class="block-status-item">
                              {% if blk.reported and blk.when_observed %}
                              <i class="fa fa-check-circle-o fa-lg" style="color:#339933;"></i>
                              {% elif blk.when_observed and not blk.reported %}
                              <i class="fa fa-clock-o fa-lg" style="color: #FF9933;"></i>
                              {% elif not blk.reported and not blk.when_observed and blk.active %}
                              <i class="fa fa-circle-o fa-lg" style="color:#263c6f;"></i>
                              {% elif not blk.reported and not blk.when_observed and  not blk.active %}
                              <i class="fa fa-minus-circle fa-lg" style="color:#df0000;"></i>
                              {% endif %}
                              </span>
                              <span class="block-status-item">{{blk.block_start|date:"Y-m-d"}}<br/>{{blk.block_start|date:"H:i"}}</span>
                              <span class="block-status-item"><i class="fa fa-long-arrow-right"></i></span>
                              <span class="block-status-item">{{blk.block_end|date:"Y-m-d"}}<br/>{{blk.block_end|date:"H:i"}}</span>
                              <ul>
                              {% if blk.obstype == blk.OPT_SPECTRA or blk.obstype == blk.OPT_SPECTRA_CALIB %}
                                <div class="block-control">{{blk.num_spectro_frames}}</div>
                                <div class="block-control">Target: {{blk.current_name}}</div>
                                {% if "TAR" in blk.num_spectro_frames %}
                                    <div class="block-control"><a href="{% url 'blockspec' blk.pk %}">Spectrum Plot</a></div>
                                {% endif %}
                              {% else %}
                                  {% if blk.num_observed > 0 and blk.num_unique_red_frames < 10 and blk.num_candidates > 0 %}
                                  <li class="block-control"><a href="{% url 'block-ast' blk.id %}" id="analyse-btn">Analyse Images</a></li>
                                  {% if not blk.reported %}
                                  <li class="block-control"><a href="{% url 'block-report' blk.id %}">Report</a></li>
                                  {% endif %}
                                  {% if blk.num_candidates > 0 %}
                                  <li class="block-control"><a href="{% url 'view-candidates' blk.id %}">Candidates ({{blk.num_candidates}})</a></li>
                                  {% endif %}
                                  {% elif blk.reported %}
                                  <li class="block-control"><a href="{% url 'block-report-mpc' blk.id %}">View report in MPC format</a></li>
                                  <li class="block-control"><a href="{% url 'upload-report' blk.id %}">Upload MPC format</a></li>
                                  {% elif not blk.reported and blk.when_observed %}
                                  <li class="block-control"><a href="{% url 'report-block' blk.id %}">Mark as Reported</a></li>
                                  {% endif %}
                              {% endif %}
                            </ul>
                            </span>
                        </li>
                        {% endfor %}
                      </ul>
                        {% else %}
                        <a href="{% url 'auth_login' %}?next={{request.path}}">Log in to see actions</a>
                        {% endif %}
                </div>
            </div>
        </div>
{% endblock %}
