{% extends 'base.html' %}
{% block header %}Blocks{% endblock %}

{% block bodyclass %}page{% endblock %}
{% block extramenu %}
        <div class="headingleft">
                <h1>Observing Blocks</h1>
        </div>
{% endblock%}
{% block main-content %}
        <div id="main" class="fill-height">
                <div class="container">
                    <div class="row">
                        <table class="datatable u-full-width" id="id_blocks">
                                <thead>
                                        <tr>
                                                <th class="list_title">
                                                        <span class="sortable" id="block_id">Block #</span>
                                                </th>
                                                <th class="list_title">
                                                        <span class="sortable" id="name_id">Target Name</span>
                                                </th>
                                                <th class="list_project">
                                                        <span class="sortable" id="site_id">Site</span>
                                                </th>
                                                <th>
                                                        <span class="sortable" id="telescope_type">Class</span>
                                                </th>
                                                <th>
                                                        <span class="sortable" id="tracknum">Tracking Number</span>
                                                </th>
                                                <th>
                                                        <span class="sortable" id="obs_details">Obs. Details</span>
                                                </th>
                                                <th>
                                                        <span class="sortable" id="block_active">Cadence?</span>
                                                </th>
                                                <th>
                                                        <span class="sortable" id="block_active">Active?</span>
                                                </th>
                                                <th>
                                                        <span class="sortable" id="block_observed">Observed?</span>
                                                </th>
                                                <th>
                                                        <span class="sortable" id="block_reported">Reported?</span>
                                                </th>
                                                <th>
                                                        <span class="sortable" id="block_analyser">Analyser?</span>
                                                </th>
                                        </tr>
                                </thead>
                                <tbody>
                                {% for block in block_list %}
                                        <tr class="{% cycle 'odd' 'even' %}">
                                                <td class="list_title"  data-label="Block #"><a href="{% url 'block-view' block.pk %}">{{block.pk}}</a></td>
                                                {% if block.body %}
                                                    <td class="list_title"  data-label="Target Name"><a href="{% url 'target' block.body.pk %}">{{block.body.current_name}}</a></td>
                                                {% elif block.calibsource %}
                                                    <td class="list_title"  data-label="Target Name"><a href="{% url 'calibsource' block.calibsource.pk %}">{{block.calibsource.current_name}}</a></td>
                                                {% else %}
                                                    <td class="list_title"  data-label="Target Name">None!?</td>
                                                {% endif %}
                                                <td data-label="Site">{{block.get_sites|upper}}</td>
                                                <td data-label="Telescope Type">{{block.get_telclass}}</td>
                                                <td data-label="Tracking #"><a href="{{block.make_obsblock_link}}">{{block.tracking_number}}</a></td>
                                                <td data-label="Obs. details">{{block.get_obsdetails}}</td>
                                                <td data-label="Cadence?" {% if block.cadence %}class="warning"{%endif%}><span class="tablecell">{% if block.cadence %}Y{% else %}N{% endif %}</span></td>
                                                <td data-label="Active?" {% if block.active %}class="warning"{%endif%}><span class="tablecell">{% if block.active %}Y{% else %}N{% endif %}</span></td>
                                                <td data-label="Observed?">{{block.get_num_observed.0}} / {{block.get_num_observed.1}}</td>
                                                <td data-label="Reported?" {% if block.get_num_reported.0 >= 1 %}class="warning"{%endif%}><span class="tablecell">{{block.get_num_reported.0}} / {{block.get_num_reported.1}}</span></td>
                                                <td data-label="Analyser?" {% if block.analyser_enabled %}class="warning"{%endif%}><span class="tablecell">{% if block.analyser_enabled %}Y{% else %}N{% endif %}</td>
                        </tr>
                                {% endfor %}
                                </tbody>
                        </table>
                </div>
                <div class="row">
                  {% if is_paginated %}
                  <div class="pagination">
                      <span class="page-links">
                          {% if page_obj.has_previous %}
                              <a href="{% url 'blocklist' %}?page={{ page_obj.previous_page_number }}"><i class="fa fa-arrow-left fa-2x"></i></a>
                          {% endif %}
                          <span class="page-current">
                              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                          </span>
                          {% if page_obj.has_next %}
                              <a href="{% url 'blocklist' %}?page={{ page_obj.next_page_number }}"><i class="fa fa-arrow-right fa-2x"></i></a>
                          {% endif %}
                      </span>
                  </div>
                {% endif %}
              </div>
            </div>
        </div>
{% endblock %}
