{% extends 'base.html' %}
{% load static basic_tags %}
{% block header %}Blocks{% endblock %}

{% block bodyclass %}page{% endblock %}
{% block extramenu %}
        <div class="headingleft">
                <h1>Observing Blocks</h1>
        </div>
{% endblock%}
{% block main-content %}
        <div id="main" class="fill-height fullwidth">
                        <table class="datatable u-full-width" id="id_blocks">
                                <thead>
                                        <tr>
                                                <th class="list_title">
                                                        <span class="sortable" id="block_id">Block #</span>
                                                </th>
                                                <th class="list_title">
                                                        <span class="sortable" id="name_id">Target Name</span>
                                                </th>
                                                <th class="list_project">
                                                        <span class="sortable" id="site_id">Site</span>
                                                </th>
                                                <th>
                                                        <span class="sortable" id="telescope_type">Telescope Type</span>
                                                </th>
                                                <th>
                                                        <span class="sortable" id="proposal">Proposal</span>
                                                </th>
                                                <th>
                                                        <span class="sortable" id="tracknum">Tracking Number</span>
                                                </th>
                                                <th>
                                                        <span class="sortable" id="obs_details">Obs. Details</span>
                                                </th>
                                                <th>
                                                        <span class="sortable" id="block_cadence">Cadence?</span>
                                                </th>
                                                <th>
                                                        <span class="sortable" id="block_active">Active?</span>
                                                </th>
                                                <th>
                                                        <span class="sortable" id="block_observed">Observed?</span>
                                                </th>
                                                <th>
                                                        <span class="sortable" id="block_reported">Reported?</span>
                                                </th>
                                        </tr>
                                </thead>
                                <tbody>
                                {% for block in block_list %}
                                        <tr class="{% cycle 'odd' 'even' %}">
                                            {% build_block_row block %}
                                        </tr>
                                {% endfor %}
                                </tbody>
                        </table>
                </div>
                <div class="row">
                    {% if is_paginated %}
                        <!-- start -->
                            {% include '_pagination.html' with items=items %}
                        <!-- end -->
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock %}
