{% extends 'base.html' %}
{% block header %}Targets{% endblock %}

{% block bodyclass %}page{% endblock %}
{% block extramenu %}
					<div class="headingleft">
						<h1>Active Targets</h1>
					</div>
{% endblock%}
{% block main-content %}
			<div id="main" class="fill-height">
				<div class="row rowfull">
					<table class="datatable" id="id_targets">
						<thead>
							<tr>
								<th class="list_title">
									<span class="sortable" id="name_id">Name</span>
								</th>
								<th class="list_project">
									<span class="sortable" id="type_id">Type</span>
								</th>
								<th>
									<span class="sortable" id="origin">Origin</span>
								</th>
								<th>
									<span class="sortable" id="timestamp">Ingest date</span>
								</th>
							</tr>
						</thead>
						<tbody>
						{% for body in target_list %}
							<tr class="{% cycle 'odd' 'even' %}">

								{% if "standard" in body.get_source_type_display or "source" in body.get_source_type_display %}
									<td class="list_title" data-label="Name"><a href="{% url 'calibsource' body.pk %}">{{body.full_name}}</a></td>
								{% else %}
									<td class="list_title" data-label="Name"><a href="{% url 'target' body.pk %}">{{body.full_name}}</a></td>
								{% endif %}
								<td data-label="Type">{{body.get_source_type_display}}
									{% if body.source_subtype_1 %}
                                        ({{body.get_source_subtype_1_display}})
                                    {% endif %}
                                    {% if body.source_subtype_2 %}
                                        [{{body.get_source_subtype_2_display}}]
                                    {% endif %}
								</td>
								{% if "standard" in body.get_source_type_display or "source" in body.get_source_type_display %}
									<td data-label="Origin">{{body.reference}}</td>
								{% else %}
									<td data-label="Origin">{{body.get_origin_display}}</td>
								{% endif %}
								<td  data-label="Ingest date">
									<time class="datestamp nicedate" datetime="{{ body.ingest|date:'c' }}">
										{{ body.ingest|date:'j M Y, H:i' }}
									</time>
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
{% endblock %}
