{% extends 'base.html' %}
{% load staticfiles basic_tags %}

{% block css-content %}<link rel="stylesheet" href="{% static "core/css/forms.css" %}">{% endblock %}

{% block header %}Visibility Page{% endblock %}

{% block bodyclass %}page{% endblock %}

{% block extramenu %}
    <div class="headingleft">
        <h1>Visibility for {{body.current_name}}</h1>
    </div>
{% endblock%}

{% block main-content %}
            <!-- Main body -->
            <div class="container" id="main">
                <h5  class="section-title"><span class="">Right Ascension and Declination</span></h5>
                <img src="{% url 'visibility-plot' body.pk 'radec' %}" id="id_radecplot">
                <h5  class="section-title"><span class="">Heliocentric and Geocentric Distances</span></h5>
                <img src="{% url 'visibility-plot' body.pk 'dist' %}" id="id_distanceplot">
                <h5  class="section-title"><span class="">Predicted Brightness</span></h5>
                <img src="{% url 'visibility-plot' body.pk 'mag' %}" id="id_magplot">
                <h5  class="section-title"><span class="">Positional Uncertainty</span></h5>
                <img src="{% url 'visibility-plot' body.pk 'uncertainty' %}" id="id_uncertaintyplot">
                <h5  class="section-title"><span class="">Hours Up</span></h5>
                <img src="{% url 'visibility-plot' body.pk 'hoursup' %}" id="id_hoursupplot">
            </div>
{% endblock %}
