{% extends 'base.html' %}
{% load static basic_tags %}

{% block header %}{{body.current_name}} details{% endblock %}

<!-- Import Bokeh Script for plotting (UPDATE RELEASE NUMBER IF BOKEH IS UPDATED) -->
{% block script-content %}
<script src={{js_path}}  crossorigin="anonymous"></script>
<script src={{widget_path}}  crossorigin="anonymous"></script>
<script src={{table_path}}  crossorigin="anonymous"></script>
{% endblock %}

{% block bodyclass %}page{% endblock %}

{% block extramenu %}
                    <div class="headingleft">
                        <h1>{{body.full_name}}</h1>
                    </div>
{% endblock%}

{% block main-content %}
            <!-- Main body -->
            <div class="container" id="main">
                    <div class="row">
                        <div class="eight columns">
                            <div class="row">
                        <a class="button button-primary" href="{% url 'schedule-body' body.id %}" id="schedule-obs">Schedule Observations</a>
                        <a class="button button-primary" href="{% url 'schedule-body-spectra' body.id %}" id="schedule-spectro-obs">Schedule Spectroscopic Observations</a>
                            </div>
                            {% if body.old_name %}
                            <h5  class="section-title"><span class="">Name</span><span class="msgpadded">{{body.old_name}} &rarr; {{body.name}}</span></h5>
                            {% endif %}
                            <h5  class="section-title"><span class="">Type</span>
                                <span class="msgpadded">{{body.get_source_type_display}}
                                    {% if body.source_subtype_1 %}
                                        ({{body.get_source_subtype_1_display}})
                                    {% endif %}
                                    {% if body.source_subtype_2 %}
                                        [{{body.get_source_subtype_2_display}}]
                                    {% endif %}
                                </span></h5>
                            <h5  class="section-title"><span class="">Status</span> <span class="">{% if body.active %}<span class="warning msgpadded">Actively Following</span>{% else %}Not Following{% endif %}</span>
                                {% if body.characterization_target %}
                                    <br><span style="font-size:75%;padding-left:100px;font-style:italic;">Characterization Target</span>
                                {% endif %}
                            </h5>
                            <h5  class="section-title"><span class="">Source</span> <span class="msgpadded">{{body.get_origin_display}}</span></h5>
                            <div class="section-title">
                            <form action="{% url 'ephemeris' %}" method="GET" style="display:inline-block;">
                                <input type="hidden" name="{{ form.target.name }}" id="id_target" value="{{body.current_name}}" />
                                    <div class="inline-fields">
                                        <div class="compact-field">
                                        {{ form.utc_date }}<label for="id_utc_date">UTC date</label>
                                        </div>
                                        <div class="compact-field">
                                        {{ form.site_code }}<label for="id_site_code">Site</label>
                                        </div>
                                        <div class="compact-field">
                                        {{ form.alt_limit }}<label for="id_alt_limit">Min Altitude</label>
                                        </div>
                                        <input type="submit" class="button button-primary" value="Calculate Ephemerides" id="id_submit">
                                    </div>
                                {% for key, error in form.errors.items %}
                                    <div class="messages error">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                                </form>
                            </div>
                            <a class="button button-primary" href="{% url 'feasibility' body.id %}" id="check-feasibility">Check Spectroscopic Feasibility</a>
                            <a class="button button-primary" href="{% url 'lc_plot' body.id %}" id="lightcurve-plot">Create LC Plot</a>
                            <h5  class="section-title">Recent Blocks Scheduled</h5>
                            <ul class="block-status">
                                {% for b in blocks %}
                                    {% if b.superblock.id %}
                                    <li class="{% cycle 'odd' 'even' %}">
                                            <a href="{% url 'block-view' b.superblock.id %}">
                                            <span class="block-status-line">
                                                <span class="block-status-item">
                                                {% if b.reported and b.when_observed %}
                                                    <i class="fas fa-check-circle fa-lg" style="color:#339933;"></i>
                                                {% elif b.when_observed and not b.reported %}
                                                    <i class="far fa-clock fa-lg" style="color: #FF9933;"></i>
                                                {% elif not b.reported and not b.when_observed and b.active %}
                                                    <i class="far fa-circle fa-lg" style="color:#263c6f;"></i>
                                                {% elif not b.reported and not b.when_observed and  not b.active %}
                                                    <i class="fa fa-minus-circle fa-lg" style="color:#df0000;"></i>
                                                {% endif %}
                                                </span>
                                                <span class="block-status-item">{{b.block_start|date:"c"}}</span>
                                                <span class="block-status-item"><i class="fa fa-long-arrow-right"></i></span>
                                                <span class="block-status-item">{{b.block_end|date:"c"}}</span>
                                                <span class="block-status-item">{{b.site|upper}}</span>
                                                <span class="block-status-item">Req: {{b.request_number}}</span>
                                            </span>
                                            </a>
                                    </li>
                                    {% endif %}
                                {% empty %}
                                <li>No blocks have been scheduled</li>
                                {% endfor %}
                            </ul>
                    <h5 class="section-title">Measurements</h5>
                        <a href="{% url 'measurement' body.id %}" class="button button-primary" id="show-measurements">Show Measurements</a>
                            </div>
                        <div class="four columns rightsidebar">
                            <div align="center">
                                <!-- Import the javascript and div created by Bokeh for circle plots -->
                            {% block lin_plot %}
                            {{ lin_div|safe }}
                            {{ lin_script|safe }}
                            {% endblock %}
                            {% if body.name %}
                                <a href="{% url 'visibility' body.id %}" class="button button-primary" id="visibility">Plot Visibility</a>
                            {% endif %}
                            </div>
                            <div class="section-title">{{body.get_latest_update.0}}: {{body.get_latest_update.1|date:"Y-M-d H:i"}}</div>
                            <h5 class="section-title">Orbital Elements</h5>
                            <table class="keyvalue-table" id="id_orbelements">
                                <tbody>
                                    <tr>
                                        <td class="kv-key" colspan=2>{{body.get_elements_type_display}}</td>
                                    </tr>
                                    <tr>
                                        <td class="kv-key">Epoch of elements (MJD)</td>
                                        <td>
                                        <table align="right"  style="margin: 0px"><tr>
                                            <td class="kv-value">
                                                <div class="tooltip">
                                                    {{body.epochofel_mjd}}
                                                    <span class="tooltiptext" style="width:fit-content;left:75%;width:-moz-fit-content;">
                                                        {{body.epochofel_mjd|mjd_utc2date}}
                                                    </span>
                                                </div>
                                            </td><td></td></tr></table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="kv-key">Orbital inclination in deg</td>
                                        <td class="kv-value">{{body.orbinc}}</td>
                                    </tr>
                                    <tr>
                                        <td class="kv-key">Longitude of Ascending Node (deg)</td>
                                        <td class="kv-value">{{body.longascnode}}</td>
                                    </tr>
                                    <tr>
                                        <td class="kv-key">Arg of perihelion (deg)</td>
                                        <td class="kv-value">{{body.argofperih}}</td>
                                    </tr>
                                    <tr>
                                        <td class="kv-key">Eccentricity</td>
                                        <td class="kv-value">{{body.eccentricity}}</td>
                                    </tr>
                                    {% if body.elements_type  == 'MPC_COMET' %}
                                    <!-- Comets -->
                                    <tr>
                                        <td class="kv-key">Perihelion distance (AU)</td>
                                        <td class="kv-value">{{body.perihdist|floatformat:7}}</td>
                                    </tr>
                                    <tr>
                                        <td class="kv-key">Epoch of perihelion</td>
                                        <td class="kv-value">{{body.epochofperih}}</td>
                                    </tr>
                                    <tr>
                                        <td class="kv-key">Epoch of perihelion (MJD)</td>
                                        <td class="kv-value">{{body.epochofperih_mjd|floatformat:5}}</td>
                                    </tr>
                                    <tr>
                                        <td class="kv-key">Total Magnitude (M1)</td>
                                        <td class="kv-value">{{body.abs_mag}}</td>
                                    </tr>
                                    <tr>
                                        <td class="kv-key">Slope Parameter (k1)</td>
                                        <td class="kv-value">{{body.slope|multiply:2.5}}</td>
                                    </tr>
                                    {% else %}
                                    <tr>
                                        <td class="kv-key">Mean distance (AU)</td>
                                        <td class="kv-value">{{body.meandist}}</td>
                                    </tr>
                                    <tr>
                                        <td class="kv-key">Mean Anomaly (deg)</td>
                                        <td class="kv-value">{{body.meananom}}</td>
                                    </tr>
                                    <tr>
                                        <td class="kv-key">Absolute Magnitude (H)</td>
                                        <td class="kv-value">{{body.abs_mag}}</td>
                                    </tr>
                                    <tr>
                                        <td class="kv-key">Slope Parameter (G)</td>
                                        <td class="kv-value">{{body.slope}}</td>
                                    </tr>
                                    <tr>
                                        <td class="kv-key">Albedo (average)</td>
                                        <td class="kv-value">0.17</td>
                                    </tr>
                                    <tr>
                                        <td class="kv-key">Albedo (range)</td>
                                        <td class="kv-value">0.01 - 0.60</td>
                                    </tr>
                                    <tr>
                                        <td class="kv-key">Diameter in meters (average)</td>
                                        <td class="kv-value">{{body.diameter|floatformat:0}}</td>
                                    </tr>
                                    <tr>
                                        <td class="kv-key">Diameter in meters<br/>(range)</td>
                                        <td class="kv-value">{{body.diameter_range.0|floatformat:0}} - {{body.diameter_range.1|floatformat:0}}</td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                            <h5 class="section-title">Physical Parameters</h5>
                            <table class="keyvalue-table" id="id_physparams">
                                <tbody>
                                    {% for p in body.get_physical_parameters %}
                                    {% if p.preferred %}
                                    <tr><td ><table align="left"  style="margin: 0px"><tr>
                                            <td class="kv-key">
                                                <div class="tooltip">{{p.type_display}}
                                                    <span class="tooltiptext" style="left:30%">
                                                        {% if p.notes %}
                                                            {{p.notes}}
                                                        <br>
                                                        <br>
                                                        {% endif %}
                                                        {{p.reference}}
                                                    </span>
                                                </div>
                                            </td><td></td></tr></table>
                                        </td>
                                        <td ><table align="right"  style="margin: 0px"><tr>
                                            <td class="kv-value">
                                                    {% if p.error %}
                                                <div class="tooltip">
                                                    {% endif %}
                                                    {% if p.units %}
                                                        {{p.value}} {{p.units}}
                                                    {% else %}
                                                        {% if p.value2 %}
                                                            {{p.value}}/{{p.value2}}
                                                        {% else %}
                                                            {{p.value}}
                                                        {% endif %}
                                                    {% endif %}
                                                    {% if p.error %}
                                                    <span class="tooltiptext" style="width:fit-content;left:75%;width:-moz-fit-content;">
                                                        {% if p.error2 %}
                                                            {% if p.value2 %}
                                                                +/- {{p.error}} <br> +/- {{p.error2}}
                                                            {% else %}
                                                                +{{p.error}} / -{{p.error2}}
                                                            {% endif %}
                                                        {% else %}
                                                            +/- {{p.error}}
                                                        {% endif %}
                                                    </span>
                                                </div>
                                                {% endif %}
                                            </td><td></td></tr></table>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                            <h5 class="section-title">Follow-up Details</h5>
                            <table class="keyvalue-table" id="id_followup">
                                <tbody>
                                                                        {% if body.score %}
                                    <tr>
                                        <td class="kv-key">NEOCP <i>digest2</i> score</td>
                                        <td class="kv-value">{{body.score}}</td>
                                    </tr>
                                                                        {% endif %}
                                                                        {% if body.num_obs %}
                                    <tr>
                                        <td class="kv-key">Number of observations</td>
                                        <td class="kv-value">{{body.num_obs}}</td>
                                    </tr>
                                                                        {% endif %}
                                                                        {% if body.arc_length %}
                                    <tr>
                                        <td class="kv-key">Arc length (days)</td>
                                        <td class="kv-value">{{body.arc_length|roundeddays:2}}</td>
                                    </tr>
                                                                        {% endif %}
                                                                        {% if body.not_seen %}
                                    <tr>
                                        <td class="kv-key">Time since last observation (days)</td>
                                        <td class="kv-value">{{body.not_seen|roundeddays:2}}</td>
                                    </tr>
                                                                        {% endif %}
								</tbody>
							</table>
							<h5 class="section-title">Spectroscopy Details
                                {% if spectra %}
                                    <a href="{% url 'plotspec' body.pk %}" style="font-size: small;">(Plots)</a>
                                {% endif %}
                            </h5>
							<table class="keyvalue-table" id="id_spectralinfo">
								<tbody>
								    {% for s in spectra %}
								        {% if s.spec_source == 'S' %}
								            <tr>
										        <td class="kv-key"> SMASS Spectra</td>
										        <td class="kv-value"><a href={{s.spec_vis}}>{{s.spec_wav}}</a></td>
									        </tr>
								        {% endif %}
								        {% if s.spec_source == 'M' %}
								            <tr>
										        <td class="kv-key"> MANOS Target</td>
										        {% if s.spec_wav != 'NA' %}
										            {% if s.spec_vis %}
										                <td class="kv-value"><a href={{s.spec_vis}}>{{s.spec_wav}}</a></td>
										            {% else %}
										                <td class="kv-value">{{s.spec_wav}}</td>
										            {% endif %}
										        {% else %}
										            <td class="kv-value">(No Data Yet)</td>
										        {% endif %}
									        </tr>
								        {% endif %}
								    {% endfor %}
                                    {% for sb in blocks %}
                                        {% if sb.obstype == 1 and sb.num_observed > 0%}
                                            <tr>
										        <td class="kv-key"> LCO Spectrum</td>
                                                <td class="kv-value"><a href="{% url 'blockspec' sb.pk %}">{{sb.when_observed|date:"Y-m-d"}} ({{sb.site|upper}}) </a></td>
                                        {% endif %}
                                    {% endfor %}
                                    {% for t in taxonomies %}
									<tr><td ><table align="left"  style="margin: 0px"><tr>
										<td class="kv-key" >
                                            <div class="tooltip">{{t.get_tax_scheme_display}} Taxonomic Type
                                                <span class="tooltiptext" style="left:30%">
                                                    {% if t.tax_notes and t.tax_notes != "*"%}
                                                        {{t.make_readable_tax_notes}}
                                                    {% endif %}
                                                    <br>
                                                    <br>{{t.get_tax_reference_display}}
                                                </span>
                                            </div></td><td></td></tr></table></td>
										<td class="kv-value">{{t.taxonomic_class}}
										</td>
									</tr>
								    {% empty %}
								        <tr>
								            <td class="kv-key"> Known Taxonomies</td>
								            <td class="kv-value">None</td>
								        </tr>
								    {% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
{% endblock %}
