{% extends 'base.html' %}
{% load static basic_tags %}
{% block header %}{{staticsource.current_name}} details{% endblock %}


<!-- Import Bokeh Script for plotting (UPDATE RELEASE NUMBER IF BOKEH IS UPDATED) -->
{% block script-content %}
<script src={{js_path}}  crossorigin="anonymous"></script>
<script src={{widget_path}}  crossorigin="anonymous"></script>
<script src={{table_path}}  crossorigin="anonymous"></script>
{{ script|safe }}
{% endblock %}

{% block bodyclass %}page{% endblock %}

{% block extramenu %}
                    <div class="headingleft">
                        <h1>Object: {{staticsource.current_name}}</h1>
                    </div>
{% endblock%}

{% block main-content %}
            <!-- Main body -->
            <div class="container" id="main">
                    <div class="row">
                        <!--<a class="button button-primary" href="{% url 'schedule-calib' staticsource.id %}" id="schedule-obs">Schedule Observations</a>-->
                        {% if staticsource.dec > 0 %}
                            <a class="button button-primary" href="{% url 'schedule-calib-spectra' instrument_code='F65-FLOYDS' pk=staticsource.id %}" id="schedule-spectro-obs">Schedule Spectroscopic Observations</a>
                        {% else %}
                            <a class="button button-primary" href="{% url 'schedule-calib-spectra' instrument_code='E10-FLOYDS' pk=staticsource.id %}" id="schedule-spectro-obs">Schedule Spectroscopic Observations</a>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="four columns">
                            <h5  class="section-title"><span class="">Type</span><span class="msgpadded">{{staticsource.get_source_type_display}}</span></h5>
                            <table class="keyvalue-table" id="id_staticsource_detail">
                                <tbody>
                                    <tr>
                                        <td class="kv-key">Right Ascension</td>
                                        <td class="kv-value">{{staticsource.ra|degreestohms:":"}}</td>
                                    </tr>
                                    <tr>
                                        <td class="kv-key">Declination</td>
                                        <td class="kv-value">{{staticsource.dec|degreestodms:":"}}</td>
                                    </tr>
                                    <tr>
                                        <td class="kv-key">V magnitude</td>
                                        <td class="kv-value">{{staticsource.vmag|floatformat:1}}</td>
                                    </tr>
                                    <tr>
                                        <td class="kv-key">Spectral type</td>
                                        <td class="kv-value">{{staticsource.spectral_type}}</td>
                                    </tr>
                                    <tr>
                                        <td class="kv-key">Notes</td>
                                        <td class="kv-value">{{staticsource.notes}}</td>
                                    </tr>
                                    <tr>
                                        <td class="kv-key">Reference</td>
                                        <td class="kv-value">{{staticsource.reference}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="four columns">
                            <h5 class="section-title">Spectra</h5>
                            <!-- Import the div created by Bokeh for spectra plot -->
                            {% block graphic %}
                                {{ spec_div|safe }}
                            {% endblock %}
                        </div>
                    </div>
                    <a class="button button-primary" href="{% url 'feasibility-calib' staticsource.id %}" id="check-feasibility">Check Spectroscopic Feasibility</a>
                    <div>
                        <h5  class="section-title">Recent Blocks Scheduled</h5>
                        <ul class="block-status">
                            {% for b in blocks %}
                            <li class="{% cycle 'odd' 'even' %}">
                                    <a href="{% url 'block-view' b.superblock.id %}">
                                    <span class="block-status-line">
                                        <span class="block-status-item">
                                        {% if b.reported and b.when_observed %}
                                        <i class="fa fa-check-circle-o fa-lg" style="color:#339933;"></i>
                                    {% elif b.when_observed and not b.reported %}
                                        <i class="fa fa-clock-o fa-lg" style="color: #FF9933;"></i>
                                        {% elif not b.reported and not b.when_observed and b.active %}
                                        <i class="fa fa-circle-o fa-lg" style="color:#263c6f;"></i>
                                        {% elif not b.reported and not b.when_observed and  not b.active %}
                                        <i class="fa fa-minus-circle fa-lg" style="color:#df0000;"></i>
                                        {% endif %}
                                        </span>
                                        <span class="block-status-item">{{b.block_start|date:"c"}}</span>
                                        <span class="block-status-item"><i class="fa fa-long-arrow-right"></i></span>
                                        <span class="block-status-item">{{b.block_end|date:"c"}}</span>
                                        <span class="block-status-item">{{b.site|upper}}</span>
                                        <span class="block-status-item">Req: {{b.tracking_number}}</span>
                                    </span>
                                    </a>
                            </li>
                            {% empty %}
                            <li>No blocks have been scheduled</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
{% endblock %}
