{% extends 'base.html' %}
{% load static basic_tags %}
{% block header %}
    {% if "solar" in request.get_full_path %}
        Solar Spectrum Calibration Sources
    {% elif "spectrophotometric" in request.get_full_path %}
        Spectrophotometric Calibration Sources
    {% else %}
        Calibration Sources
    {% endif %}
{% endblock %}

{% block bodyclass %}page{% endblock %}


{% block extramenu %}
    <div class="headingleft">
        {% if "solar" in request.get_full_path %}
            <h1>Solar Spectrum Calibration Sources</h1>
        {% elif "spectrophotometric" in request.get_full_path %}
            <h1>Spectrophotometric Calibration Sources</h1>
        {% else %}
            <h1>Calibration Sources</h1>
        {% endif %}
    </div>
{% endblock%}

{% block main-content %}
    <div id="main" class="fill-height">
        <div class="container">
            <div class="row">
                {% if "solar" in request.get_full_path or "spectrophotometric" in request.get_full_path %}
                    <a class="button button-primary" href="{% url 'schedule-calib-spectra' 'F65-FLOYDS' '-' %}" id="schedule-solar-ftn-obs">Schedule FTN Calib Observations</a>
                    <a class="button button-primary" href="{% url 'schedule-calib-spectra' 'E10-FLOYDS' '-' %}" id="schedule-solar-fts-obs">Schedule FTS Calib Observations</a>
                    <a class="button button-primary" href="{% url 'calibsource-view' %}" id="show-all-calibsources">Show all Calibration Sources</a>
                    <a class="button button-primary" href="{% url 'beststandards-view' %}" id="show-best-standards">Show best standards</a>
                {% else %}
                    <a class="button button-primary" href="{% url 'schedule-calib-spectra' 'F65-FLOYDS' '-' %}" id="schedule-calib-ftn-obs">Schedule FTN Calib Observations</a>
                    <a class="button button-primary" href="{% url 'schedule-calib-spectra' 'E10-FLOYDS' '-' %}" id="schedule-calib-fts-obs">Schedule FTS Calib Observations</a>
                    <a class="button button-primary" href="{% url 'solarstandard-view' %}" id="show-solar-standards">Show only Solar Analogs</a>
                    <a class="button button-primary" href="{% url 'spectrophotstandard-view' %}" id="show-spectrophot-standards">Show only Spectrophotometrics</a>
                    <a class="button button-primary" href="{% url 'beststandards-view' %}" id="show-best-standards">Show best standards</a>
                {% endif %}
            </div>
            <span id="anti_solar_point"> <b> Current Anti-Solar Point: RA = {{night.ra}} / Dec = {{night.dec}} </b></span>
            <div class="row">
                <table class="datatable u-full-width" id="id_calibsources">
                    <thead>
                        <tr>
                            <th class="list_title">
                                <span class="sortable" id="name_id">Name</span>
                            </th>
                            <th>
                                <span class="sortable" id="ra">R.A.</span>
                            </th>
                            <th>
                                <span class="sortable" id="dec">Dec.</span>
                            </th>
                            <th>
                                <span class="sortable" id="v_mag">V Mag.</span>
                            </th>
                            <th>
                                <span class="sortable" id="sp_type">Spectral Type</span>
                            </th>
                            <th>
                                <span class="sortable" id="src_type">Source Type</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for src in calibsources %}
                        <tr>
                            <td><a href="{% url 'calibsource' src.pk %}">{{src.name}}</a></td>
                            <td>{{src.ra|degreestohms:":"}}</td>
                            <td>{{src.dec|degreestodms:":"}}</td>
                            <td>{{src.vmag|floatformat:2}}</td>
                            <td>{{src.spectral_type}}</td>
                            <td>{{src.return_source_type}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                {% if is_paginated %}
                    <!-- start -->
                            {% include '_pagination.html' with items=items %}
                    <!-- end -->
                {% endif %}
            </div>
            <div class="row">
                {% if "solar" in request.get_full_path %}
                    <img src="{% url 'make-solar-standards-plot' %}" class="pic_center">
                {% else %}
                    <img src="{% url 'make-standards-plot' %}" class="pic_center">
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
