{% extends 'base.html' %}
{% load staticfiles %}

{% block header %}Followup Summary{% endblock %}

{% block bodyclass %}page{% endblock %}

{% block extramenu %}
    <div class="headingleft">
        <h1>Followup Summary</h1>
    </div>
{% endblock%}

{% block main-content %}
    <!-- Main body -->
    <div class="container" id="main">
            <div class="row">
                <div class="eight columns">
                    <h5 class="section-title">Followup Summary for the current and previous semesters</h5>
                    <table class="keyvalue-table" id="id_currentsemester">
                        <thead>
                            <th>Followup for {{current_semester.semester_code}}</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="kv-key">Proposal</td>
                                <td class="kv-value">{{current_semester.proposal.title}}</td>
                            </tr>
                            <tr>
                                <td class="kv-key">Proposal code</td>
                                <td class="kv-value">{{current_semester.proposal.code}}</td>
                            </tr>
                            <tr>
                                <td class="kv-key">Number of candidates</td>
                                <td class="kv-value">{{current_semester.num_cands}}</td>
                            </tr>
                            <tr>
                                <td class="kv-key">Number of asteroids</td>
                                <td class="kv-value">{{current_semester.num_asts}}</td>
                            </tr>
                            <tr>
                                <td class="kv-key">Number of NEOs</td>
                                <td class="kv-value">{{current_semester.num_neos}}</td>
                            </tr>
                            <tr>
                                <td class="kv-key">Number that did not exist</td>
                                <td class="kv-value">{{current_semester.num_didnotexist}}</td>
                            </tr>
                            <tr>
                                <td span=2><h5 class="section-title">Blocks:</h5></td>
                            </tr>
                            <tr>
                                <td class="kv-key">Number of blocks requested</td>
                                <td class="kv-value">{{current_semester.num_blocks}}</td>
                            </tr>
                            <tr>
                                <td class="kv-key">Number of blocks observed</td>
                                <td class="kv-value">{{current_semester.num_blocks_observed}}</td>
                            </tr>
                            <tr>
                                <td class="kv-key">Number of blocks reported</td>
                                <td class="kv-value">{{current_semester.num_blocks_reported}}</td>
                            </tr>
                            <tr>
                                <td class="kv-key">Number of blocks duplicated</td>
                                <td class="kv-value">{{current_semester.num_blocks_duplicated}}</td>
                            </tr>
                            <tr>
                                <td class="kv-key">Average time to blocks reported</td>
                                <td class="kv-value">{{current_semester.avg_lag|floatformat:1}} hours</td>
                            </tr>
                     </tbody>
                    </table>
                </div>
            </div>
        </div>
{% endblock %}
