{% extends 'base.html' %}

{% block header %}Guide Movies for Superblock: {{sb.id}}{% endblock %}

{% block bodyclass %}page{% endblock %}

{% block extramenu %}
    <div class="headingleft">
        <h1>Super Block: <a href="{% url 'block-view' sb.id %}">{{sb.id}}</a> ( {{block_list|length}} Blocks )</h1>
    </div>
{% endblock%}

{% block main-content %}
<!-- Main body -->
<table style="margin-left:auto; margin-right:auto;">
    <tr>
        {% for block in block_list|dictsort:"block_start" %}
            {% with block_ref=block.pk %}
                <td>
                    <a href="{{block.make_obsblock_link}}">
                    <div class="container" id="main">
                        {% block graphic %}
                            <img src="{% url 'display_movie' block_ref %}" alt="Could not find or create movie to show.">
                        {% endblock %}
                    </div>
                    </a>
                </td>
                    {% if forloop.counter|divisibleby:2 %}
                        </tr>
                        <tr>
                    {% endif %}
            {% endwith %}
        {% endfor %}
    </tr>
</table>


{% endblock %}
