{% extends 'base.html' %}
{% load staticfiles basic_tags %}

{% block css-content %}<link rel="stylesheet" href="{% static "core/css/forms.css" %}">{% endblock %}

{% block header %}Home{% endblock %}

{% block bodyclass %}page{% endblock %}
{% block extramenucss %}extramenu-home{% endblock %}

{% block extramenu %}
{% endblock%}

{% block main-content %}
		<div class="masthead">
			<div class="container">
				<a class="btn btn-transparent btn-jumbo" href="{% url 'targetlist' %}">
					<div class="bigtext">{{targets}}</div>
					<div class="smalltext">active targets</div>
				</a>
				<a class="btn btn-transparent btn-jumbo" href="{% url 'blocklist' %}">
					<div class="bigtext">{{blocks}}</div>
					<div class="smalltext">active blocks</div>
				</a>
			</div>
		</div>

    <div class="container">
        <table id="id_neo_targets" class="datatable">
            <thead>
                <tr>
                    <th class="list_title">
                        <span class="sortable" id="name_id">Target Name</span>
                    </th>
                    <th class="list_project">
                        <span class="sortable" id="type_id">Type</span>
                    </th>
                    <th>
                        <span class="sortable" id="ra">R.A.</span>
                    </th>
                    <th>
                        <span class="sortable" id="dec">Dec.</span>
                    </th>
                    <th>
                        <span class="sortable" id="mag">Mag.</span>
                    </th>
                    <th>
                        <span class="sortable" id="origin">Origin</span>
                    </th>
                    <th>
                        <span class="sortable" id="timestamp">Ingested</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for body in newest%}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td class="list_title"><a href="{% url 'target' body.pk %}">{{body.current_name}}</a></td>
                    <td>{{body.get_source_type_display}}</td>
                    <td>{{body.compute_position.0|radianstohms:" "}}</td>
                    <td>{{body.compute_position.1|radianstodms:" "}}</td>
                    <td>{{body.compute_position.2|floatformat:1 }}</td>
                    <td>{{body.get_origin_display}}</td>
                    <td>
                        <time class="datestamp nicedate" datetime="{{ body.ingest|date:'c' }}">
                            {{ body.ingest|date:'j M Y, H:i' }}
                        </time>
                    </td>
                    </tr>
                {% empty%}
                    <tr><td colspan=7> No new targets</td></tr>
                {% endfor%}
            </tbody>
        </table>
    </div>
{% endblock %}
