{% extends 'base.html' %}
{% load static basic_tags %}

{% block css-content %}<link rel="stylesheet" href="{% static 'core/css/forms.css' %}">{% endblock %}

{% block header %}Home{% endblock %}

{% block bodyclass %}page{% endblock %}
{% block extramenucss %}extramenu{% endblock %}

{% block extramenu %}
{% endblock%}

{% block main-content %}
    <div class="masthead">
        <div class="container">
          <div class="content-container">
            <div class="home-button">
              <a class="btn btn-transparent btn-jumbo" href="{% url 'targetlist' %}">
                  <div class="bigtext">{{targets}}</div>
                  <div class="smalltext">active targets</div>
              </a>
            </div>
            <div class="home-button">
              <a class="btn btn-transparent btn-jumbo" href="{% url 'blocklist' %}">
                  <div class="bigtext">{{blocks}}</div>
                  <div class="smalltext">active blocks</div>
              </a>
            </div>
            <div class="home-button">
                  <svg id="moon"  xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 170 55" preserveAspectRatio="xMidYMin slice"
   style="padding-bottom: 35%; height: 1px; overflow: visible" ></svg>
                  <div id="moonphase">Moon phase <span id="mooncent"></span></div>
                  <script type="text/javascript" src="{% static 'core/js/moon-phase.js' %}" charset="UTF-8"></script>
                  <script type="text/javascript" charset="UTF-8">
                      var today = today || new Date();
                      phase_junk(moon_day(today));
                      document.getElementById('mooncent').innerHTML += (moon_day(today)*100).toFixed(1) + "%";
                  </script>
            </div>
          </div>
        </div>
    </div>

    <div class="container-lg">
        <table id="id_neo_targets" class="datatable">
            <thead>
                <tr>
                    <th class="list_project">
                        <span class="sortable" id="rank">Rank</span>
                    </th>
                    <th class="list_title">
                        <span class="sortable" id="name_id">Target Name</span>
                    </th>
                    <th class="list_project">
                        <span class="sortable" id="type_id">Type</span>
                    </th>
                    <th>
                        <span class="sortable" id="ra">R.A.</span>
                    </th>
                    <th>
                        <span class="sortable" id="dec">Dec.</span>
                    </th>
                    <th>
                        <span class="sortable" id="mag">Mag.</span>
                    </th>
                    <th>
                        <span class="sortable" id="numobs">Num.Obs.</span>
                    </th>
                    <th>
                        <span class="sortable" id="arc">Arc</span>
                    </th>
                    <th>
                        <span class="sortable" id="notseen">Not Seen (days)</span>
                    </th>
                    <th>
                        <span class="sortable" id="NEOCPscore">NEOCP Score</span>
                    </th>
                    <th>
                        <span class="sortable" id="updated">Updated?</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for body in newest|dictsortreversed_with_none:"FOM" %}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td data-label="Rank">{{forloop.counter}}</td>
                    <td class="list_title" data-label="Body Name"><a href="{% url 'target' body.id %}">{{body.current_name}}</a></td>
                    <td data-label="Type">{{body.type}}</td>
                    <td data-label="RA">{{body.ra|radianstohms:" "}}</td>
                    <td data-label="Dec">{{body.dec|radianstodms:" "}}</td>
                    <td data-label="Mag">{{body.v_mag|floatformat:1 }}</td>
                    <td data-label="Num Obs">{{body.num_obs}}</td>
                    <td data-label="Arc">{{body.arc_length|roundeddays:2}}</td>
                    <td data-label="Not seen">{{body.not_seen|roundeddays:3}}</td>
                    <td data-label="NEOCP Score">{{body.score}}</td>
                    <td data-label="Updated?">
                    {% if body.updated %}
                    <i class="fas fa-check-circle fa-lg" style="color:#339933;" title="Yes"></i>
                    {% else %}
                    <i class="fa fa-minus-circle fa-lg" style="color:#df0000;" title="No"></i>
                    {% endif %}
                    </td>
                </tr>
                {% empty%}
                    <tr><td colspan=11> No new targets</td></tr>
                {% endfor%}
            </tbody>
        </table>
    </div>
{% endblock %}
