{% extends 'base.html' %}
{% load staticfiles basic_tags %}
{% block header %}Source measurements{% endblock %}

{% block bodyclass %}page{% endblock %}
{% block extramenu %}
					<div class="headingleft">
						<h1>Source Measurements: <a href="{% url 'target' body.id %}">{{body.current_name}}</a>{% if slot %} in block <a href="{% url 'block-view' pk=slot.id %}">&#35;{{slot.id}}</a>{% endif %}</h1>
					</div>
{% endblock%}
{% block main-content %}
			<div id="main" class="fill-height">
				<div class="container">
				<div class="row">
					<p>
					{% if slot %}
					<h5>Report to MPC</h5>
					{% for b in extra_bodies %} <a class="button button-primary" href="{% url 'block-submit-mpc' slot.id b.id %}">{{b.current_name}}</a>{% endfor%}
					{% endif %}
				</div>
				<div class="row">
					<a href="{% if slot %}{% url 'block-report-mpc' slot.id %}{% else %}{% url 'measurement-mpc' body.id %}{%endif%}">[ View in MPC format ]</a>
					<a href="{% url 'measurement-ades' body.id %}">[ View in ADES format ]</a></p>
				</div>
			</div>
				<div class="fullwidth">
					<table class="datatable" id="id_measurements">
						<thead>
							<tr>
								<th class="list_title">
									<span class="sortable" id="name_id">Name</span>
								</th>
								<th class="list_project">
									<span class="sortable" id="datetime">Date/time</span>
								</th>
								<th>
									<span class="sortable" id="ra">RA</span>
								</th>
								<th>
									<span class="sortable" id="dec">Dec</span>
								</th>
								<th>
									<span class="sortable" id="magnitude">Magnitude</span>
								</th>
								<th>
									<span class="sortable" id="filter">Filter</span>
								</th>
								<th>
									<span class="sortable" id="sitecode">Site Code</span>
								</th>
							</tr>
						</thead>
						<tbody>
						{% for line in measures %}
							<tr>
								<td>{{line.body.current_name}}</td>
								<td>{{line.frame.midpoint|dttodecimalday:False}}</td>
								<td>{{line.obs_ra|degreestohms:" "}}</td>
								<td>{{line.obs_dec|degreestodms:" "}}</td>
                <td>{{line.obs_mag|floatformat:1}}</td>
                <td>{{line.frame.filter}}</td>
                <td>{{line.frame.sitecode}}</td>
							</tr>
              {% empty %}
              <tr>
                <td colspan=7>No measurements have been made yet</td>
              </tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
{% endblock %}
