{% extends 'base.html' %}
{% load staticfiles basic_tags %}

{% block header %}MPC format report{% endblock %}

{% block bodyclass %}page{% endblock %}


{% block extramenu %}
<div class="headingleft">
  <h1>Measurements of {{body.current_name}}{% if slot %} in block <a href="{% url 'block-view' pk=slot.id %}">&#35;{{slot.id}}</a>{% endif %}</h1>
</div>
{% endblock%}

{% block main-content %}
    <div class="container">
        <div id="main">
            <div class="row">
              {% if measures %}
              <p><a href="{% url 'measurement' body.id %}">[View in HTML format]</a></p>
{% comment %} Do not fiddle with/adjust the "incorrect" indentation below. The
MPC report is in a strictly defined 80 character format and stray spaces/blank
lines matter. A Lot.
{% endcomment %}

<pre>{% for line in measures %}
{{line.format_mpc_line}}{% endfor %}
</pre>
              {% else %}
              <h3>No report has been made for this block.</h3>
              {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
