{% extends 'base.html' %}
{% load staticfiles basic_tags %}

{% block header %}MPC format report{% endblock %}

{% block bodyclass %}page{% endblock %}


{% block extramenu %}
<div class="headingleft">
  <h1>Source Measurements for: {{body.current_name}}{% if slot %} in block <a href="{% url 'block-view' pk=slot.id %}">&#35;{{slot.id}}</a>{% endif %}</h1>
</div>
{% endblock%}

{% block main-content %}
    <div class="container">
        <div id="main">
            <div class="row">

              {% if slot %}
              <a class="button button-primary" href="{% url 'block-submit-mpc' slot.id body.id %}">Report to MPC</a>
              {% endif %}

              {% if measures %}
              <p><a href="{% if slot %}{% url 'block-report' slot.id %}{% else %}{% url 'measurement' body.id %}{%endif%}">[View in HTML format]</a></p>
{% comment %} Do not fiddle with/adjust the "incorrect" indentation below. The
MPC report is in a strictly defined 80 character format and stray spaces/blank
lines matter. A Lot.
{% endcomment %}

<pre>{% for line in measures %}
{% if slot %}{% format_mpc_line_upload line %}{% else %}{% format_mpc_line_catcode line %}{%endif%}{% endfor %}
</pre>
              {% else %}
              <h3>No report has been made for this block.</h3>
              {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
