{% extends 'base.html' %}

{% block header %}Spectrum for block: {{pk}}{% endblock %}

{% block last-css-content %}
<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-1.3.4.min.css">
{% endblock %}

{% block script-content %}
<script src="http://cdn.pydata.org/bokeh/release/bokeh-1.3.4.min.js"></script>
{{ the_script|safe }}
{% endblock %}

{% block bodyclass %}page{% endblock %}

{% block extramenu %}
    <div class="headingleft">
        <h1>Block: <a href="{% url 'block-view' sb_id %}">{{pk}}</a></h1>
    </div>
{% endblock%}

{% block main-content %}
<!-- Main body -->
<div class="container" id="main">
    {% block graphic %}
        {{ reflec_div|safe }}
        {{ raw_div|safe }}
    {% endblock %}
</div>

{% endblock %}
