{% extends 'base.html' %}

{% block header %}

Lightcurve for object: {{body.current_name}}

{% endblock %}

<!-- Import Bokeh Script for plotting (UPDATE RELEASE NUMBER IF BOKEH IS UPDATED) -->
{% block script-content %}
<script src={{js_path}}  crossorigin="anonymous"></script>
<script src={{widget_path}}  crossorigin="anonymous"></script>
<script src={{table_path}}  crossorigin="anonymous"></script>
{{ the_script|safe }}
{% endblock %}

{% block bodyclass %}page{% endblock %}


{% block extramenu %}
    <div class="headingleft">
        <h1>Object: <a href="{% url 'target' body.pk %}">{{body.current_name}}</a></h1>
    </div>
{% endblock%}


{% block main-content %}
<!-- Main body -->
<div class="container" id="main">
    <!-- Import the javascript and div created by Bokeh for plots -->
    {% block graphic %}
        {{ lc_div|safe }}
    {% endblock %}
</div>
<div class="container">
    <table id="id_periods" class="datatable">
        <thead>
            <tr>
                <th class="list_title">
                        <span class="sortable" id="Rank"></span>
                </th>
                <th class="list_title">
                        <span class="sortable" id="period">Period [hours]</span>
                </th>
                <th class="list_project">
                        <span class="sortable" id="p_source">Source</span>
                </th>
                <th class="list_project">
                        <span class="sortable" id="p_notes">Notes</span>
                </th>
                <th class="list_project">
                        <span class="sortable" id="p_update">Date</span>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for period in period_list|dictsort:"update_time"%}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td data-label="Rank">{{forloop.counter}}</td>
                    <td data-label="period">{{period.value}}
                        {% if period.error %}
                            &plusmn;{{period.error}}
                        {% endif %}
                        {% if period.quality %}
                            ({{period.quality}})
                        {% endif %}
                    </td>
                    <td data-label="p_source">{{period.reference}}</td>
                    <td data-label="p_notes">{{period.notes}}</td>
                    <td data-label="p_update">{{period.update_time}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}