{% extends 'base.html' %}

{% block header %}

Spectrum for object: {{body.current_name}}

{% endblock %}

<!-- Import Bokeh CSS for plotting (UPDATE RELEASE NUMBER IF BOKEH IS UPDATED) -->
{% block last-css-content %}
<link rel="stylesheet" href={{css_path}}>
{% endblock %}
<!-- Import Bokeh Script for plotting (UPDATE RELEASE NUMBER IF BOKEH IS UPDATED) -->
{% block script-content %}
<script src={{js_path}}></script>
<script src={{widget_path}}></script>
{{ the_script|safe }}
{% endblock %}

{% block bodyclass %}page{% endblock %}


{% block extramenu %}
    <div class="headingleft">
        <h1>Object: <a href="{% url 'target' body.pk %}">{{body.current_name}}</a></h1>
    </div>
{% endblock%}


{% block main-content %}
<!-- Main body -->
<div class="container" id="main">
    <!-- Import the javascript and div created by Bokeh for plots -->
    {% block graphic %}
        {{ lc_div|safe }}

    {% endblock %}

    <div class="section-title">
                <form action="{% url 'lc_plot' body.id %}" method="POST" style="display:inline-block;">{% csrf_token %}
                    <div class="inline-fields">
                        <div class="compact-field">
                            {{ form.phase_flag }}<label for="id_phase">Phase Data?</label>
                        </div>
                        <div class="compact-field">
                            {{ form.period }}<label for="id_period">Period {% if best_period %} (Default: {{best_period}}h) {% else %} Unknown. {% endif %}</label>
                        </div>
                    </div>
                </form>
        {{ slider_div|safe }}
    </div>


<h5 class="section-title">LC Dates</h5>
    {{ check_div|safe }}
    <div class="fullwidth">
        <table class="datatable" id="id_measurements">
            <thead>
            <tr>
                <th class="list_title">
                    <span class="sortable" id="name_id">Date</span>
                </th>
                <th class="list_project">
                    <span class="sortable" id="datetime">Time</span>
                </th>
                <th>
                    <span class="sortable" id="ra">Site</span>
                </th>
                <th>
                    <span class="sortable" id="dec">Filter</span>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for meta in meta_list %}
            <tr>
                <td>{{meta.SESSIONDATE}}</td>
                <td>{{meta.SESSIONTIME}}</td>
                <td>{{meta.MPCCODE}}</td>
                <td>{{meta.FILTER}}</td>
            </tr>
              {% empty %}
              <tr>
                <td colspan=4>No measurements have been made yet</td>
              </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}