{% extends 'base.html' %}

{% block header %}

Lightcurve for object: {{body.current_name}}

{% endblock %}

<!-- Import Bokeh Script for plotting (UPDATE RELEASE NUMBER IF BOKEH IS UPDATED) -->
{% block script-content %}
<script src={{js_path}}  crossorigin="anonymous"></script>
<script src={{widget_path}}  crossorigin="anonymous"></script>
<script src={{table_path}}  crossorigin="anonymous"></script>
{{ the_script|safe }}
{% endblock %}

{% block bodyclass %}page{% endblock %}


{% block extramenu %}
    <div class="headingleft">
        <h1>Object: <a href="{% url 'target' body.pk %}">{{body.current_name}}</a></h1>
    </div>
{% endblock%}


{% block main-content %}
<!-- Main body -->
<div class="container" id="main">
    <!-- Import the javascript and div created by Bokeh for plots -->
    {% block graphic %}
        {{ lc_div|safe }}
    {% endblock %}

    {% for alcdef in alcdef_dps %}
        <a href="{% url 'display_textfile' alcdef.id %}"> {{ alcdef.product.name }} </a>
    {% endfor %}
</div>
{% endblock %}