{% extends 'base.html' %}
{% load static basic_tags %}
{% block header %}NEOx scheduling{% endblock %}

{% block bodyclass %}page{% endblock %}

{% block script-content %}
<script type="text/javascript">
  $(document).ready(function(){
    // Initially hide the advanced options
    $('#advanced_options').hide();
    // Set window switch initial conditions
    var ws = document.getElementById("id_edit_window");
    if(ws.checked){
        $('#data_window').hide();
        $('#form_window').show();
    } else {
        $('#form_window').hide();
        $('#data_window').show();
    }

    $('a.mode-switch').click(function(event){
      $('.mode-container').toggle();
    });

    $('.window-switch').click(function(event){
      $('.mode-window').toggle();
    });

  });
</script>

{% endblock %}

{% block extramenu %}
    <div class="headingleft">
        <h1><a href="{% url 'target' body.id %}">{{body.current_name}}</a>: Confirm Scheduling</h1>
    </div>
{% endblock%}

{% block main-content %}
    <div class="container" id="main">
        <form action="{% url  'schedule-confirm' body.id %}" method="POST" >
        {% csrf_token %}
          <div class="row">
                  {% for key, error in form.errors.items %}
                          <div class="messages error">
                              {{ error }}
                          </div>
                  {% endfor %}
          </div>
        <div class="row">
          <div class="eight columns">
            {% if data %}
            <h6 class="section-title">Submitted Parameters</h6>
            <table class="keyvalue-table" style="width:100%">
                <tbody>
                    <tr id="id_proposal_row">
                        <td class="kv-key">Proposal</td>
                        {% if data.too_mode %}
                            <td class="kv-value">{{ data.proposal_code }} (TC)</td>
                        {% else %}
                            <td class="kv-value">{{ data.proposal_code }}</td>
                        {% endif %}
                    </tr>
                    <tr id="id_group_id_row">
                        <td class="kv-key">Group Name</td>
                        <td class="kv-value">{{ form.group_name }}</td>
                    </tr>
                    {% if data.instrument_code %}
                        <tr id="id_site_row">
                            <td class="kv-key">Site/Instrument</td>
                            <td class="kv-value">{{data.instrument_code}} <i class="fa fa-arrow-right"></i> {{data.lco_site}} {{data.lco_tel}} ({{data.lco_enc}})</td>
                        </tr>
                    {% else %}
                        <tr id="id_site_row">
                            <td class="kv-key">Site</td>
                            {% if data.lco_site == 'XXX' %}
                                <td class="kv-value">Any With A {{data.site_code}} Class Telescope </td>
                            {% else %}
                                <td class="kv-value">{{data.site_code}} <i class="fa fa-arrow-right"></i> {{data.lco_site}} {{data.lco_tel}} ({{data.lco_enc}})</td>
                            {% endif %}
                        </tr>
                    {% endif %}
                    <tr id="id_utc_date_row">
                        <td class="kv-key">UTC date</td>
                        <td class="kv-value">{{ data.utc_date}}</td>
                    </tr>
                    <tr id="id_visibility_row">
                        {% if data.vis_time > 0 and data.max_alt_airmass < data.max_airmass %}
                            <td class="kv-key">Hours Visible per site / Max Altitude</td>
                            <td class="kv-value">{{ data.vis_time|floatformat:1}} hrs / {{ data.max_alt|floatformat:0}}&deg</td>
                        {% else %}
                            <td class="kv-key">Hours Visible / Max Altitude</td>
                        <td class="kv-value">
                            <table align="right"  style="margin: 0px"><tr><td></td><td class="kv-value"><div class="tooltip">
                                <span class="warning msgpadded"> Target Not Visible</span>
                                <span class="tooltiptext" style="width: 150px;">
                                    <u>Target is never higher than Required Airmass.</u>
                                    <br>Max altitude of target during observation window is {{data.max_alt|floatformat:0}}&deg (airmass {{data.max_alt_airmass|floatformat:2}}) <br>
                                </span></div></td></tr></table></td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
            <h6 class="section-title">Calculated characteristics at {{ data.mid_time }}</h6>
            <table class="keyvalue-table" style="width:100%">
                <tbody>
                    <tr id="id_ra_row">
                        <td class="kv-key">Right Ascension</td>
                        <td class="kv-value">{{ data.ra_midpoint|radianstohms:" " }}</td>
                    </tr>
                    <tr id="id_dec_row">
                        <td class="kv-key">Declination</td>
                        <td class="kv-value">{{ data.dec_midpoint|radianstodms:" " }}</td>
                    </tr>
                     <tr id="id_magnitude_row">
                        <td class="kv-key">Magnitude</td>
                         {% if data.magnitude > 22.0 %}
                            <td class="kv-value">
                                <table align="right"  style="margin: 0px"><tr><td></td><td class="kv-value"><div class="tooltip">
                                    <span class="warning msgpadded"> {{ data.magnitude|floatformat:2 }}</span>
                                    <span class="tooltiptext" style="width: 150px;">
                                        <u>Target is Faint!</u>
                                        <br> Target may be too faint to be detected with this telescope. <br>
                                    </span></div></td></tr></table></td>
                         {% else %}
                            {% if data.magnitude < 6.0 %}
                                <td class="kv-value">
                                <table align="right"  style="margin: 0px"><tr><td></td><td class="kv-value"><div class="tooltip">
                                    <span class="warning msgpadded"> {{ data.magnitude|floatformat:2 }}</span>
                                    <span class="tooltiptext" style="width: 150px;">
                                        <u>Target is Bright!</u>
                                        <br> Target is brighter than the recommended magnitude for this telescope. <br>
                                    </span></div></td></tr></table></td>
                            {% else %}
                                <td class="kv-value">{{ data.magnitude|floatformat:2 }}</td>
                            {% endif %}
                         {% endif %}
                    </tr>
                    <tr id="id_moon_row">
                        <td class="kv-key">Lunar Phase / Separation </td>
                        <td class="kv-value">
                            <table style="margin-bottom: 0; margin-left: auto">
                                <tr>
                                    <td><table align="left"  style="margin: 0px"><tr><td class="kv-key">
                                        <div class="tooltip">
                                            <svg id="moon"  xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="250 70 4.5 4.5" preserveAspectRatio="xMidYMin slice"
                                            style="height: 1px; overflow: visible" ></svg>
                                            <script type="text/javascript" src="{% static 'core/js/moon-phase.js' %}" charset="UTF-8"></script>
                                            <script type="text/javascript" charset="UTF-8">
                                                var obs_day = new Date('{{ data.mid_time }}'+'Z') || new Date();
                                                phase_junk(moon_day(obs_day));
                                            </script>
                                        <span class="tooltiptext" style="left:0; margin-bottom: 15px; width: auto; margin-left: -45px">
                                            <u>Illumination Fraction:</u>
                                            <br>{{data.moon_phase|floatformat:0}}%
                                        </span></div></td><td></td></tr></table>
                                    </td>
                                    {% if data.moon_sep < data.min_lunar_dist %}
                                    <td style="border: none">
                                        <table align="right"  style="margin: 0px"><tr><td></td><td class="kv-value"><div class="tooltip">
                                            <span class="warning msgpadded">{{ data.moon_sep|floatformat:1 }}&deg</span>
                                            <span class="tooltiptext" style="width: 150px;">
                                                <u>Too close to the Moon!</u>
                                                <br>Consider decreasing Minimum Lunar Separation (currently {{data.min_lunar_dist}}&deg) if object is bright.<br>
                                        </span></div></td></tr></table></td>
                                    {% else %}
                                        <td style="border: none"> {{ data.moon_sep|floatformat:1 }}&deg</td>
                                    {% endif %}
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr id="id_speed_row">
                        <td class="kv-key">Speed</td>
                        {% if data.trail_len > data.typical_seeing %}
                            <td class="kv-value">{{ data.speed|floatformat:2 }} "/min <i class="fa fa-arrow-right"></i>
                                <table align="right"  style="margin: 0px"><tr><td></td><td class="kv-value"><div class="tooltip">
                                <span class="warning msgpadded">{{ data.trail_len|floatformat:2 }} "/exp </span>
                                <span class="tooltiptext" style="width: 150px;">
                                    <u>Stellar Trailing Will Cause Elongation!</u>
                                    <br>Trailing larger than typical seeing at this telescope. ({{data.typical_seeing}}")<br>
                                </span></div></td></tr></table></td>
                        {% else %}
                            <td class="kv-value">{{ data.speed|floatformat:2 }} "/min <i class="fa fa-arrow-right"></i> {{ data.trail_len|floatformat:2 }} "/exp</td>
                        {% endif %}
                    </tr>
                    {% if '1M0' in data.lco_tel or '1M0' in data.site_code %}
                    <tr id="id_bin_mode_row">
                        <td class="kv-key">Binning</td>
                        <td class="kv-value">{{ form.bin_mode }}</td>
                    </tr>
                    {% endif %}
                    {% if data.spectroscopy %}
                    <tr id="id_slit_pattern_row"><td ><table align="left"  style="margin: 0px"><tr><td class="kv-key" name="{{data.available_filters}}">
                            <div class="tooltip">Slit Pattern
                            <span class="tooltiptext" style="left:75%">Comma Separated Pattern
                            <br>(e.g.: slit_6.0as,slit_2.0as,slit_6.0as)<br>
                            <br><u>Slits Available at {{data.site_code}}:</u>
                            <br><span name="filters">{{data.available_filters}}</span></span></div></td><td></td></tr></table></td>
                        <td class="kv-value">{{ form.filter_pattern }}</td>
                    </tr>
                    {% else %}
                        {% if 'F65' not in data.site_code %}
                            <tr id="id_filter_pattern_row"><td ><table align="left"  style="margin: 0px"><tr><td class="kv-key" name="{{data.available_filters}}">
                                    <div class="tooltip">Filter Pattern
                                    <span class="tooltiptext" style="left:75%">Comma Separated Pattern
                                    <br>(e.g.: rp,gp,rp,ip,rp)<br>
                                    <br><u>Filters Available at {{data.site_code}}:</u>
                                    <br><span name="filters">{{data.available_filters}}</span></span></div></td><td></td></tr></table></td>
                                <td class="kv-value" id="">{{ form.filter_pattern }}</td>
                            </tr>
                        {% else %}
                            {{ form.filter_pattern.as_hidden }}
                        {% endif %}
                    {% endif %}
                    {% if data.pattern_iterations != data.exp_count %}
                        <tr id="id_pattern_iterations_row">
                            <td class="kv-key">Pattern Iterations</td>
                            {% if data.pattern_iterations < 1 %}
                            <td ><table align="right"  style="margin: 0px"><tr><td></td><td class="kv-value"><div class="tooltip">
                                <span class="warning msgpadded">{{ data.pattern_iterations }}</span>
                                <span class="tooltiptext" style="width: 150px;"><u>Too Few Exposures To Finish Sequence</u>
                                <br>Consider Increasing Slot Length <br></span></div></td></tr></table></td>
                            {% else %}
                            <td class="kv-value">{{ data.pattern_iterations }}</td>
                            {% endif %}
                        </tr>
                    {% endif %}
                    <tr id="id_slot_length_row">
                        <td class="kv-key">Slot length</td>
                        {% if data.spectroscopy %}
                            <td class="kv-value">{{ data.slot_length }} mins</td>
                        {% else %}
                            <td class="kv-value">{{ form.slot_length }} mins</td>
                        {% endif %}
                    </tr>
                    <tr id="id_no_of_exps_row">
                        <td class="kv-key">No. of exposures
                        {% if 'F65' in data.site_code and not data.spectroscopy %}
                            (single filter)
                        {% endif %}
                        </td>
                        {% if data.exp_count < 4 and not data.spectroscopy %}
                            <td ><table align="right"  style="margin: 0px"><tr><td></td><td class="kv-value"><div class="tooltip"><span class="warning msgpadded"> {{ data.exp_count }} </span>
                                <span class="tooltiptext" style="width: 150px;"><u>Fewer than 4 exposures will be taken!</u>
                                <br>4 or more observations required if reporting astrometry to the MPC. <br></span></div></td></tr></table></td>
                        {% else %}
                            <td class="kv-value">{{ data.exp_count }}</td>
                        {% endif %}
                    </tr>
                    <tr id="id_expose_length_row">
                    {% if 'F65' not in data.site_code or data.spectroscopy%}
                        <td class="kv-key">Exposure length</td>
                        <td class="kv-value">{{ form.exp_length }} secs</td>
                    {% else %}
                        <td class="kv-key">MuSCAT Exposure lengths
                            </br></br>
                            <div class="compact-field">
                                <label for="id_expose_length_row">Synchronous observations? {{ form.muscat_sync }}</label>
                            </div>
                        </td>
                        <td class="kv-value">
                            {{ form.exp_length.as_hidden }}
                            g' : {{ form.gp_explength }} secs <br>
                            r' : {{ form.rp_explength }} secs <br>
                            i' : {{ form.ip_explength }} secs <br>
                            z' : {{ form.zp_explength }} secs
                        </td>
                    {% endif %}
                    </tr>
                    {% if data.snr %}
                    <tr id="id_snr_row">
                        <td class="kv-key">SNR</td>
                        {% if data.saturated %}
                            <td ><table align="right"  style="margin: 0px"><tr><td></td><td class="kv-value"><div class="tooltip">
                                <span class="warning msgpadded"> {{ data.snr|floatformat:1 }} </span>
                                <span class="tooltiptext" style="width: 150px;"><u>Target Might Saturate!</u>
                                <br>Consider Reducing Exposure Time <br></span></div></td></tr></table></td>
                        {% else %}
                            {% if data.snr < 10 and data.spectroscopy%}
                                <td ><table align="right"  style="margin: 0px"><tr><td></td><td class="kv-value"><div class="tooltip">
                                    <span class="warning msgpadded"> {{ data.snr|floatformat:1 }} </span>
                                    <span class="tooltiptext" style="width: 150px;"><u>Low Signal to Noise!</u>
                                    <br>Consider Increasing Exposure Time <br></span></div></td></tr></table></td>
                            {% else %}
                                <td class="kv-value">{{ data.snr|floatformat:1 }}</td>
                            {% endif %}
                        {% endif %}
                    </tr>
                    {% endif %}
                    {% if data.lco_site != 'XXX' %}
                        {% if data.vis_start not in data.start_time or data.vis_end not in data.end_time %}
                                <tr id="id_window_error2_row">
                                   <td colspan="2" style="text-align: center">
                                       <span class="warning  msgpadded">Target Visible From {{data.vis_start}} -> {{data.vis_end}}</span>
                                   </td>
                                </tr>
                        {% endif %}
                    {% endif %}
                    <tr id="id_window_row">
                        {% if data.num_times is not None and data.num_times < 2 %}
                            <td ><table align="left"  style="margin: 0px"><tr><td></td><td class="kv-key"><div class="tooltip">
                                <span class="warning  msgpadded"> Window (UTC) </span>
                                <span class="tooltiptext" style="width: 150px;"><u>Window too short for Cadence!</u>
                                <br>You cannot fit multiple observations within this observing window. Consider increasing window, decreasing period, or using single observation. <br>
                                </span></div></td></tr></table></td>
                        {% else %}
                            <td class="kv-key">Window (UTC)
                                <div class="compact-field">
                                    {{ form.edit_window }}<label for="id_edit_window">(Edit)</label>
                                </div>
                            </td>
                        {% endif %}
                        <td class="kv-value">
                            <div id="data_window" class="mode-window">{{ data.start_time }} -> {{ data.end_time }}</div>
                            <div id="form_window" class="mode-window">{{ form.start_time }} -> {{ form.end_time }}</div>
                        </td>
                    </tr>
                    {% if data.jitter is not None%}
                    <tr id="id_jitter_row">
                        <td ><table align="left"  style="margin: 0px"><tr><td class="kv-key">
                                    <div class="tooltip">Jitter
                                    <span class="tooltiptext" style="left:75%">
                                        <b>Jitter</b> is the length of the repeated window within which observations are taken once each period. <br>
                                        It <em>must</em> be longer than the slot length and <em>should</em> be shorter than or equal to the period.<br>
                                        Pracitcally speaking, <u>the period sets the cadence for the center of the jitter window</u>, which can result in truncation during the first and final iterations.
                                    </span></span></div></td><td></td></tr></table></td>
                        <td class="kv-value">{{ form.jitter }}&nbsp;
                            <table align="right"  style="margin: 0px"><tr><td></td><td class="kv-value">
                                <div class="tooltip">hrs
                                    <span class="tooltiptext" style="left:60%; width:75px;" name="jitter_mins">
                                        ({{data.jitter|multiply:60|floatformat:2}} minutes)
                                    </span>
                                </div></td><td></td></tr>
                            </table>
                        </td>
                    </tr>
                    {% endif %}
                    {% if data.period is not None%}
                    <tr id="id_period_row">
                        {% if data.period < data.jitter %}
                            <td ><table align="left"  style="margin: 0px"><tr><td></td><td class="kv-key"><div class="tooltip">
                                <span class="warning msgpadded"> Period </span>
                                <span class="tooltiptext" style="width: 150px;"><u>Potential for Overlapping Observations!</u>
                                <br>This Cadence may result in simultanious observations from multiple telescopes. Consider increasing period or decreasing jitter. <br>
                                </span></div></td></tr></table></td>
                        {% else %}
                            <td class="kv-key">Period</td>
                        {% endif %}
                        <td class="kv-value">{{ form.period }} hrs</td>
                    </tr>
                    {% endif %}
                    {% if data.num_times is not None and data.total_time is not None%}
                    <tr id="id_cadence_cost_row">
                        <td class="kv-key">Max No. of Repeats /<br> Total Time </td>
                        {% if data.total_time >= 10 %}
                            <td ><table align="right"  style="margin: 0px"><tr><td></td><td class="kv-value"><div class="tooltip">
                                <span class="warning msgpadded">{{ data.num_times }} / {{ data.total_time|floatformat:2 }} hrs </span>
                                <span class="tooltiptext" style="width: 150px;"><u>Very Large Cadence Requested!</u>
                                <br>Are you sure you want to submit a request for {{ data.total_time|floatformat:2 }} hours on this proposal? <br></span></div></td></tr></table></td>
                        {% else %}
                            <td class="kv-value">{{ data.num_times }} / {{ data.total_time|floatformat:2 }} hrs</td>
                        {% endif %}
                    </tr>
                    {% endif %}
                    {% if data.spectroscopy %}
                    <tr id="id_spectroscopy_row">
                        <td class="kv-key">Spectroscopy</td>
                        <td class="kv-value">{{ data.spectroscopy }}</td>
                    </tr>
                    <tr id="id_spectroscopy_calibs_row">
                        <td class="kv-key">Calibs</td>
                        <td class="kv-value">{{ data.calibs }}</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        {% endif %}
              {% if data.solar_analog %}
              <h6 class="section-title">Solar Analog: {{ data.calibsource.name }}</h6>
            <table class="keyvalue-table" style="width:100%">
                <tbody>
                    {% if data.calibsource.name %}
                    <tr id="id_solaranalog_sep_row">
                        <td class="kv-key">Separation from Target</td>
                        <td class="kv-value">{{data.calibsource.separation_deg|floatformat:1 }}&deg</td>
                    </tr>
                    <tr id="id_solaranalog_exptime_row">
                        {% if data.calibsource_predict_exptime != data.calibsource_exptime %}
                            <td ><table align="right"  style="margin: 0px"><tr><td></td><td class="kv-value"><div class="tooltip">
                                <span class="warning msgpadded"> Exposure Time </span>
                                <span class="tooltiptext" style="width: 150px;"><u>Non-optimal Exposure Time!</u>
                                    <br>Optimal exposure time: <strong>{{data.calibsource_predict_exptime}}s</strong></span></div></td></tr></table></td>
                        {% else %}
                        <td class="kv-key">Exposure Time</td>
                        {% endif %}
                        <td class="kv-value">{{form.calibsource_exptime }} secs</td>
                    </tr>
                    <tr id="id_solaranalog_mag_row">
                        <td class="kv-key">V Mag / Spectral Type</td>
                        <td class="kv-value">{{data.calibsource.vmag|floatformat:1 }} / {{data.calibsource.spectral_type}}</td>
                    </tr>
                    <tr id="id_solaranalog_coord_row">
                        <td class="kv-key">Coordinates</td>
                        <td class="kv-value">{{ data.calibsource.ra|degreestohms:" " }} {{data.calibsource.dec|degreestodms:" "}}</td>
                    </tr>
                    {% else %}
                    <tr id="id_no_solaranalog_row">
                        <td class="kv-key"><span class="warning msgpadded">No Valid Solar Analog Found! </span></td>
                        <td class="kv-value"></td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
              {% endif %}
      </div>

      <div class="four columns">
        {% if form.errors%}
          {% if form.spectroscopy.value == 'True' %}
            <a class="button" href="{% url 'schedule-body-spectra' body.id %}" id="id_return_spec_link">Return to Previous Page</a>
          {% else %}
            <a class="button" href="{% url 'schedule-body' body.id %}{% if cadence %}?cadence=true{% endif%}" id="id_return_link">Return to Previous Page</a>
          {% endif %}
        {% else %}
        <input type="submit" class="button button-primary" value="Schedule this Object" id="id_submit_button" name="submit">
          {% endif%}
        <input type="submit" class="button button-primary" value="Update Parameters" id="id_edit_button" name="edit">
          <a class="button mode-switch" href="#" id="advanced-switch">Advanced Options</a>
          <div id="advanced_options" class="mode-container">
          <h6 class="section-title"></h6>
          <table class="keyvalue-table">
              <tr id="id_max_arimass_row">
                  <td class="kv-key">Max Acceptable Airmass</td>
                  <td >
                      <table align="left"  style="margin: 0px"><tr><td class="kv-value">
                            <div class="tooltip">{{ form.max_airmass }}
                            <span class="tooltiptext" style="left:60%; width:75px;"><u>Altitude:</u>
                                {% if data.max_airmass %}
                                  <span name="min_alt">{{data.max_airmass|get_alt_from_airmass|floatformat:1}}&deg</span>
                                {% else %}
                                    <span name="min_alt">{{data.max_airmass}}&deg</span>
                                {% endif %}
                            </span></div></td><td></td></tr>
                      </table>
                  </td>
              </tr>
              <tr id="id_min_lunar_dist_row">
                  <td class="kv-key">Minimum Lunar Separation (&deg)</td>
                  <td class="kv-value">{{ form.min_lunar_dist }}</td>
              </tr>
              <tr id="id_ipp_value_row">
                  <td class="kv-key">IPP</td>
                  <td class="kv-value">{{ form.ipp_value }}</td>
              </tr>
              <tr id="id_acceptability_row">
                  <td class="kv-key">Acceptability Threshold (%)</td>
                  <td class="kv-value">{{ form.acceptability_threshold }}</td>
              </tr>
              {% if data.spectroscopy %}
              <tr id="id_ag_exp_time_row">
                  <td class="kv-key">GuideCam Exposure time (s)</td>
                  <td class="kv-value">{{ form.ag_exp_time }}</td>
              </tr>
              <tr id="id_para_angle_row">
                  <td >
                      <table align="left"  style="margin: 0px"><tr><td class="kv-key">
                            <div class="tooltip">Use Parallactic Angle
                            <span class="tooltiptext" style="left:60%;"><u>Parallactic Angle:</u>
                                Slit Orientation Perpendicular to Horizon. <br>
                                By Default slit orientation in direction of motion.
                            </span></div></td><td></td></tr>
                      </table>
                  </td>
                  <td class="kv-value">{{ form.para_angle }}</td>
              </tr>
              {% if data.solar_analog %}
                  <tr id="id_choose_calib_row">
                      <td >
                      <table align="left"  style="margin: 0px"><tr><td class="kv-key">
                            <div class="tooltip">Choose a different Analog
                            <span class="tooltiptext" style="left:60%;"><u>Alternative Analogs: <br></u>
                                {% for calib in data.calibsource_list_options %}
                                    {{ calib }} <br>
                                {% endfor %}
                            </span></div></td><td></td></tr>
                      </table>
                      </td>
                      <td class="kv-value">{{ form.calibsource_list }}</td>
                  </tr>
              {% endif %}
              {% endif %}
          </table>
          </div>

          {% for hidden in form.hidden_fields %}
            {{ hidden }}
          {% endfor %}
        </div>
      </div>

    </form>
    </div>
{% endblock %}
