{% extends 'base.html' %}
{% block header %}NEOx scheduling{% endblock %}

{% block bodyclass %}page{% endblock %}

{% block script-content %}
<script type="text/javascript">
  $(document).ready(function(){
    // Initially hide the cadence form
    $('#cadence-switch').hide();
    $('#cadence_request').hide();

    $('a.mode-switch').click(function(event){
      $('.mode-switch').toggle();
      $('.mode-container').toggle();
      $('input[type=radio][name=form-mode]').val($('input[type=radio][name=form-mode]').val() == 'single' ? 'cadence' : 'single');
    });

  });
</script>
{% endblock %}

{% block extramenu %}
    <div class="headingleft">
        <h1>Scheduling</h1>
    </div>
{% endblock%}

{% block main-content %}
    <div class="container">
        <div id="main">
            {% if body.id  and form %}
            <h5 class="section-title">Parameters for: {{body.current_name}}</h5>
            <div class="section-title">
              <a class="button mode-switch" href="#" id="single-switch">Switch to cadence observations</a>
              <a class="button mode-switch" href="#" id="cadence-switch">Switch to single observation</a>
            <div  id="single_request" class="mode-container">
            <form action="{% url 'schedule-body' body.id %}" method="POST" style="display:inline-block;">
            <div class="row">
              {% csrf_token %}
              <div class="inline-fields">
                <div class="compact-field">
                {{ form.utc_date }}<label for="id_utc_date">UTC date</label>
                </div>
                <div class="compact-field">
                {{ form.site_code }}<label for="id_site_code">Site</label>
                </div>
                <div class="compact-field">
                  {{ form.proposal_code }}<label for="id_proposal_code">Proposal</label>
                </div>
              </div>
              {% for key, error in form.errors.items %}
                  <div class="messages error">
                      {{ error }}
                  </div>
             {% endfor %}
              </div>
              <div class="row">
                  <button type="submit" name="action" value="verify_single" class="button button-primary">Verify before Scheduling</button>
              </div>
              </form>
            </div>

            <div id="cadence_request" class="mode-container">
              <form action="{% url 'schedule-body-cadence' body.id %}" method="POST" style="display:inline-block;">
                <div class="row">
                  <div class="inline-fields">
                  {% csrf_token %}
                  <div class="compact-field">
                  {{cad_form.start_time}}<label for="id_start_date">UTC Start date</label>
                  </div>
                  <div class="compact-field">
                  {{cad_form.end_time}}<label for="id_end_date">UTC End date</label>
                  </div>
                  <div class="compact-field">
                  {{cad_form.jitter}}<label for="id_jitter">Jitter (hours)</label>
                  </div>
                  <div class="compact-field">
                  {{cad_form.period}}<label for="id_period">Period (hours)</label>
                  </div>
                  <div class="compact-field">
                  {{ cad_form.site_code }}<label for="id_site_code">Site</label>
                  </div>
                  <div class="compact-field">
                    {{ cad_form.proposal_code }}<label for="id_proposal_code">Proposal</label>
                  </div>
                </div>
                {% for key, error in cad_form.errors.items %}
                    <div class="messages error">
                        {{ error }}
                    </div>
               {% endfor %}
                </div>
                <div class="row">
                  <button type="submit" name="action" value="verify_cadence" class="button button-primary">Verify before Scheduling</button>
                </div>
                </form>
              </div>
            {% endif %}
            </div>
        </div>

{% endblock %}
