{% extends 'base.html' %}
{% block header %}NEOx scheduling{% endblock %}

{% block bodyclass %}page{% endblock %}


{% block extramenu %}
    <div class="headingleft">
        <h1>Scheduling</h1>
    </div>
{% endblock%}

{% block main-content %}
    <div class="container">
        <div id="main">
            {% if body.id  and form %}
            <h5 class="section-title">Parameters for: {{body.current_name}}</h5>
            <div class="section-title">
            <form action="{% url 'schedule-body' body.id %}" method="POST" style="display:inline-block;">
            {% csrf_token %}
            <div class="row">
              <div class="inline-fields">
                <div class="compact-field">
                {{ form.utc_date }}<label for="id_utc_date">UTC date</label>
                </div>
                <div class="compact-field">
                {{ form.site_code }}<label for="id_site_code">Site</label>
                </div>
                <div class="compact-field">
                  {{ form.proposal_code }}<label for="id_proposal_code">Proposal</label>
                </div>
              </div>

            {% for key, error in form.errors.items %}
                <div class="messages error">
                    {{ error }}
                </div>
           {% endfor %}
            </div>
            <div class="row">
                    <input type="submit" class="button button-primary" value="Verify before Scheduling">
            </div>
            </form>
            </div>
            {% endif %}
            </div>
        </div>

{% endblock %}
