{% extends 'base.html' %}
{% load url from future %}
{% block header %}NEOx scheduling{% endblock %}

{% block bodyclass %}page{% endblock %}


{% block extramenu %}
    <div class="headingleft">
        <h1>Scheduling</h1>
    </div>
{% endblock%}

{% block main-content %}
    <div class="container">
        <div id="main">
            {% if body.id  and form %}
            <form action="{% url 'schedule-body' body.id %}" method="POST">
            <div class="row">
                    {% csrf_token %}
                    <h3 class="section-title">Parameters for: {{body.current_name}}</h3>
                    <table class="keyvalue-table" style="width:100%">
                        <tbody>
                            <tr>
                                <td class="kv-key">Proposal</td>
                                <td class="kv-value">{{ form.proposal_code }}</td>
                            </tr>
                            <tr>
                                <td class="kv-key">Site code</td>
                                <td class="kv-value">{{ form.site_code }}</td>
                            </tr>
                            <tr>
                                <td class="kv-key">UTC Date</td>
                                <td class="kv-value">{{ form.utc_date }}</td>
                            </tr>
                        </tbody>
                    </table>
                    {% for key, error in form.errors.items %}
                        <div class="messages error">
                            {{ error }}
                        </div>
                   {% endfor %}
            </div>
            <div class="row">
                    <input type="submit" class="btn btn-secondary" value="Verify before Scheduling">
            </div>
                </div>
                </form>
            {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
