.pform {
	padding: 10px;
	width: 50%;
	margin-left:20px;
	margin-bottom:20px;
}

.twocolform {
	padding: 10px;
	width: 45%;
	margin-left:20px;
	margin-bottom:20px;
}
.creditForm label{
    width:224px;
}

.lm20px {
	margin-left:20px;	
}

.errorField {
	color:#430000;
}

.ctrlHolder.checkbox input,
.ctrlHolder.checkbox label,
.ctrlHolder.checkbox div
{
	display:inline;
}

.validationError {
	color:red !important;
}

.box {
	padding: 5px;
	background:#E3E3E3;
	height: 100%;
	position: relative;
	-moz-box-shadow: 5px 5px 5px rgba(0,0,0,.30);
	-webkit-box-shadow: 5px 5px 5px rgba(0,0,0,.30);
	box-shadow: 5px 5px 5px rgba(0,0,0,.30);
}

.boxns {
	padding: 5px;
	background:#E3E3E3;
	height: 100%;
	position: relative;
	float:left;
}

.round {
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius: 5px;
}

.ulcol {
	float: left;
    margin: 10px !important;
    width: auto !important;	
}

div.error input, div.error select, div.error textarea {
    color: #202020 !important;
}

div.ctrlHolder.error {
	background-color:inherit !important;
}

input.error {
	background-color:#DF0000;
}

div.formHint {
	display:none;
}

div.formHint.validationError {
	display:block;
}

div.buttonpad {
	margin-top:10px;
}

div.ctrlHolder img.captcha {
	float:left;
	padding:2px;
	width:auto;
	height:auto;
}

#id_captcha_1 {
	width:auto !important;
}

div.menuholder .error {
	padding-left:30px;
}

.red {
	color:red;
}

.proposalsubmit_admin form {

}

.proposalsubmit_main, .proposalsubmit_credit {
    float:left;
}

form.proposalsubmit_admin .proposalsubmit_main label {
        color: #202020;
        font-weight: bold;
        margin-bottom: 4px;
        display:inline-block;
        min-width:200px;
}

form.proposalsubmit_admin .proposalsubmit_main input[type=text]{
    -moz-box-sizing: border-box;
    margin: 0;
    width: 100%;
}

form.proposalsubmit_admin .proposalsubmit_credit label {
        color: #202020;
        font-weight: bold;
        margin-bottom: 4px;
        display:inline-block;
        min-width:50px;
}


.home-form .inline-fields input {
	display:inline-block;
}

.home-form label {
	font-size: 70%;
}

.home-form input[type="text"],
.home-form input[type="date"],
.home-form input[type="datetime"],
.home-form input[type="email"],
.home-form input[type="number"],
.home-form input[type="search"],
.home-form input[type="time"],
.home-form input[type="url"],
.home-form input[type="password"],
.home-form textarea,
.home-form select 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    height: 45px;
}

.home-form input[type="submit"] {
	color:#555;
}

.compact-field {
	float:left;
	padding-right: 16px;
}
.compact-field input, .compact-field label {
	display: table-row;
}
.compact-field label {
	font-size: 70%;
	color:#aaa;
}

@media (max-width: 800px), (max-device-width: 800px) {
	.pform { padding: 10px; margin:0px 20px 20px 20px; width:auto; }
}
