{% extends 'ingest/base.html' %}
{% load url from future %}
{% block header %}NEOx home{% endblock %}

{% block bodyclass %}page{% endblock %}

{% block extramenu %}
					<div class="headingleft">
						<h1>Object: {{body.current_name}}</h1>
					</div>
{% endblock%}

{% block main-content %}
			<!-- Main body -->
			<div class="container">
				<div id="main">
					<div class="row">
						<div class="fourcol">
							<h3  class="section-title"><span class="">Type</span><span class="msgpadded">{{body.get_source_type_display}}</span></h3>
							<h3  class="section-title"><span class="">Status</span> <span class="">{% if body.active %}<span class="warning msgpadded">Actively Following</span>{% else %}Not Following{% endif %}</span></h3>
							<h3  class="section-title"><span class="">Source</span> <span class="msgpadded">{{body.get_origin_display}}</span></h3>
							<a class="btn btn-secondary">Schedule Observations</a>
							<h3  class="section-title">Recent Observations</h2>
							<div class="observation">
								<img src="" />
							</div>
						</div>
						<div class="twocol lastcol rightsidebar">
							<div class="section-title">Last Update: {{body.ingest|date:"Y-M-d H:i"}}</div>
							<h3 class="section-title">Orbital Elements</h3>
							<table class="keyvalue-table">
								<tbody>
									<tr>
										<td class="kv-key" colspan=2>{{body.get_elements_type_display}}</td>
									</tr>
									<tr>
										<td class="kv-key">Epoch of elements (MJD)</td>
										<td class="kv-value">{{body.epochofel_mjd}}</td>
									</tr>
									<tr>
										<td class="kv-key" class="kv-key">Orbital inclination in deg</td>
										<td class="kv-value">{{body.orbinc}}</td>
									</tr>
									<tr>
										<td class="kv-key">Longitude of Ascending Node (deg)</td>
										<td class="kv-value">{{body.longascnode}}</td>
									</tr>
									<tr>
										<td class="kv-key">Arg of perihelion (deg)</td>
										<td  class="kv-value">{{body.argofperih}}</td>
									</tr>
									<tr>
										<td class="kv-key">Eccentricity</td>
										<td  class="kv-value">{{body.eccentricity}}</td>
									</tr>
									{% if body.elements_type  == 'MPC_MINOR_PLANET' %}
									<tr>
										<td class="kv-key">Mean distance (AU)</td>
										<td  class="kv-value">{{body.meandist}}</td>
									</tr>
									<tr>
										<td class="kv-key">Mean Anomaly (deg)</td>
										<td  class="kv-value">{{body.meananom}}</td>
									</tr>
									{% else %}
									<tr>
										<td class="kv-key">Perihelion distance (AU)</td>
										<td  class="kv-value">{{body.perihdist}}</td>
									</tr>
									<tr>
										<td class="kv-key">Epoch of perihelion</td>
										<td  class="kv-value">{{body.epochofperih}}</td>
									</tr>
									{% endif %}
									<tr>
										<td class="kv-key">Absolute Magnitude (H)</td>
										<td  class="kv-value">{{body.abs_mag}}</td>
									</tr>
									<tr>
										<td class="kv-key">Slope Parameter (G)</td>
										<td  class="kv-value">{{body.slope}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
{% endblock %}