{% extends 'ingest/base.html' %}
{% load url from future %}
{% block header %}NEOx home{% endblock %}

{% block bodyclass %}inbox{% endblock %}
{% block extramenu %}
					<div class="headingleft">
						<h1>Active Targets</h1>
					</div>
{% endblock%}
{% block main-content %}
			<div id="main" class="fill-height">
				<div class="row rowfull">
					<table>
						<thead>
							<tr>
								<th class="list_title">
									<span class="sortable" id="name_id">Name</span>
								</th>
								<th class="list_project">
									<span class="sortable" id="type_id">Type</span>
								</th>
								<th>
									<span class="sortable" id="origin">Origin</span>
								</th>
								<th>
									<span class="sortable" id="timestamp">Ingested</span>
								</th>
							</tr>
						</thead>
						<tbody>
						{% for body in target_list %}
							<tr>
								<td class="list_title"><a href="{% url 'target' body.pk %}">{{body.current_name}}</a></td>
								<td>{{body.get_source_type_display}}</td>
								<td>{{body.get_origin_display}}</td>
								<td>
									<time class="datestamp nicedate" datetime="{{ body.ingest|date:'D, d M Y H:i:s +0000' }}">
										{{ body.ingest|date:"D, d M Y H:i:s +0000" }}
									</time>
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
{% endblock %}