{% extends 'ingest/base.html' %}
{% load url from future %}

{% block header %}NEOexchange{% endblock %}

{% block title %}Current Targets{% endblock %}

{% block bodyclass %}page{% endblock %}
{% block extramenucss %}extramenu-home{% endblock %}

{% block extramenu %}
{% endblock %}

{% block main-content %}
<div class="masthead">
    <div class="container">
        <div class="bigtext">
            <table id="id_neo_targets" class="datatable">
                <thead>
                    <tr>
                        <th class="list_title">
                            <span class="sortable" id="name_id">Target Name</span>
                        </th>
                        <th class="list_project">
                            <span class="sortable" id="type_id">Type</span>
                        </th>
                        <th>
                            <span class="sortable" id="origin">Origin</span>
                        </th>
                        <th>
                            <span class="sortable" id="timestamp">Ingested</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="{% cycle 'odd' 'even' %}">
                        <td>N999r0q</td>
                        <td>Unknown/NEO Candidate</td>
                        <td>MPC</td>
                        <td>April 8, 2015, 9:23 p.m.</td>
                    </tr>
                    <tr class="{% cycle 'odd' 'even' %}">
                        <td>P10kfud</td>
                        <td>Unknown/NEO Candidate</td>
                        <td>MPC</td>
                        <td>April 8, 2015, 8:57 p.m.</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="fivecol">
        <div class="threecol">
        </div>
        <form action="/ephemeris/" method="GET" style="display:inline-block;">
            <input type="text" name="target_name" id="id_target" placeholder="Enter a target name"/ style="color: #000;">
            <input type="submit" class="button keepvisible" value="Compute">
        </form>
        </div>
        <div class="onecol lastcol">
        </div>
    </div>
</div>
{% endblock %}
